[2015-07-08 17:38] jgravois commented on #578
my gut reaction is that we're better off tackling the refactor now (rather than later) and that we can probably get away with skipping effort on backwards compatibility until such a time that we come across a bug that we can't conveniently port back to 0.9.x.

that being said, i don't have any plans personally to tackle #570 and i haven't encountered any problems with the current architecture so i

[2015-07-08 18:08] ngoldman commented on #577
**I would recommend bumping to `1.0.0`.**

The reasons:

1. It's a stable release
1. This project has been tied to 0.7.3 for a *long* time now
1. It will be easier to push minor/patch fixes to 1.x if you publish a 2.x for Leaflet 1.x
1. 0.x breaks / is meaningless in SemVer
  - See https://nodesource.com/blog/semver-tilde-and-caret
  - In particular https://nodesource.com/blog/semver-tilde-and-car

[2015-07-08 18:09] JerrySievert commented on #577
agree with @ngoldman

[2015-07-08 18:12] ngoldman commented on #578
I would recommend normalizing towards an options object across public functions for the sake of both releases (for Leaflet 0.7.3 and 1.0.0), as it's a better pattern and a stable release with a major version change is the time to do that. This would follow with my recommendation re: #577.

@patrickarlt @jgravois

[2015-07-08 19:11] ngoldman commented on #575
@patrickarlt I try to handle errors in callbacks like so:

[code]

This to me is cleaner as it

1. handles the error immediately
1. halts the callback chain by returning
1. keeps error handling logic out of individual callbacks
1. encourages maintainers to come up with & stick to a consistent & systematic way of dealing with errors in the lib
1. keeps code clean by removing an unnecessary `else` b

[2015-07-08 19:26] ngoldman commented on #575
Okay after a closer read I agree with @patrickarlt's approach above (https://github.com/Esri/esri-leaflet/issues/575#issuecomment-119275861).

[2015-07-08 20:48] swingley commented on #577
Hi everyone! I guess @jgravois called me out since I was ribbing him the other day about all the release candidates for this project...

Anywho, I agree that you all should ship what you have as 1.0.0.

[2015-07-08 20:55] jgravois commented on #577
:+1: for @ngoldman's suggestion.  i think his suggestion is right on the mark.

[2015-07-08 22:16] jgravois commented on #389
not to volunteer them or anything, but i think its an awesome idea and that @w8r and @rowanwins would make a good team.

if you guys are up for it and need a hand, please let em know.

[2015-07-08 23:07] rowanwins commented on #389
Sounds like @w8r has taken this a heck of a lot further than I ever envisaged so well done! I'll check out his repo and see if I have anything useful to contribute. I guess at some stage when we're ready we can add a demo to the esri-leaflet examples pointing people to the plugin.

Thanks for the suggestions @patrickarlt  and the "encouragement"  @jgravois :)

[2015-07-09 15:49] patrickarlt commented on #525
I have an experimental 1st draft of this working on the [ES6 branch](https://github.com/Esri/esri-leaflet/tree/es6).

###### Pros

* Massively simplified build system
* 1st class support for CJS/ES 6 based projects (Browserify, WebPack, JSPM)
* Better support for AMD (load individual modules)
* Still expose a global

###### Cons

* Using ES 6 modules via Babel requires an `Object.defineProperty` p

[2015-07-09 18:57] #577 closed

[2015-07-09 18:57] #578 closed

[2015-07-10 16:53] #575 closed

[2015-07-10 16:58] patrickarlt opened #585 "1.0.0 Release"
@jgravois in case you are interested.

* [x] geocoder added on JS Delivr https://github.com/jsdelivr/jsdelivr/pull/5752
* [x] esri-leaflet 1.0 release on Github/NPM/Bower
* [x] run travis build for heatmap-feature-layer
* [x]  heatmap-feature-layer 1.0 release on Github/NPM/Bower
* [x] run travis build for clustered-feature-layer
* [x] clustered-feature-layer 1.0 release on Github/NPM/Bower
* [x]

[2015-07-10 18:27] jgravois commented on #585
absolutely happy to help with all this!

i was thinking since it takes 7 days to clear the cache for the cdn `latest` we should hardcode `1.0.0` into the samples at least temporarily.

[2015-07-10 18:47] patrickarlt commented on #585
@jgravois I actually figured out how to hardcode the version number automatically so we can quit worrying about it!

[2015-07-10 19:06] jgravois commented on #585
saweet.

strangely, right now the url below is returning rc.8.
http://cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js

i inspected the contents of the `.zip` file included with the actual github release and its correct.

[2015-07-10 19:10] jgravois commented on #585
and the one below is returning rc.4:
http://cdn.jsdelivr.net/leaflet.esri.geocoder/1.0.0/esri-leaflet-geocoder.js

which doesn't surprise me, because Esri/esri-leaflet-geocoder/pull/#75 hasn't been merged yet.

[2015-07-10 19:20] jgravois commented on #585
red herring.  jsdelivr just lets you truncate the string in the release folder
http://cdn.jsdelivr.net/leaflet.esri/1.0.0-rc/esri-leaflet.js

[2015-07-10 21:02] patrickarlt commented on #585
@jgravois rest of the releases are good to go but I want to remove the old CDN upload from the process before release. Everything should be out before the end of the day.

[2015-07-11 16:26] patrickarlt commented on #585
I realized that grunt-releasable had a bug in it that prevented some releases from working. Waiting on JS Devlir to fetch the latest release then ill update the doc site.

[2015-07-12 00:18] patrickarlt commented on #585
@jgravois I think everything is up to date and ready. I'll announce this on Monday!

[2015-07-12 00:18] #585 closed

[2015-07-12 15:12] jgravois commented on #585
I'm still seeing rc.8 returned by
http://cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js

shouldn't it be returning the latest?

[2015-07-12 15:13] jgravois commented on #585
nm.  must have been browser cache.

[2015-07-13 00:20] patrickarlt commented on #571
Tests (with code coverage) are working! But some are failing.

[2015-07-13 19:08] jgravois commented on #563
safe to close after fix in 85732a5f1f6802dfaed39037e8539dc69cbbab77 is merged.

[2015-07-15 17:23] SlwStdySqz opened #590 "Authentication request works in firefox but 500 error in chrome."
Hi,
Hopefully you guys can help me with some trouble I'm having with my map authentication. Working off of a modified form of the [example](http://esri.github.io/esri-leaflet/examples/arcgis-server-auth.html) in the documentation, I can successfully authenticate and get a valid token in firefox. However the same code returns a 500 error in chrome.

[code]
My results in chrome:
[code]
In firefox:
[

[2015-07-15 17:28] jgravois commented on #590
a CORS problem is definitely the most likely culprit.
are you testing with a secure map service on sampleserver6 or on your own server?

[2015-07-15 17:32] SlwStdySqz commented on #590
I've tested against both sampleserver6 as well as my own and get the same error.

[2015-07-15 17:38] jgravois commented on #590
can you reproduce with something as simple as [this](https://dl.dropboxusercontent.com/u/59331579/js/token.html)?
[code]

[2015-07-15 17:45] SlwStdySqz commented on #590
Yes, with only this I am able to return a token.

[2015-07-15 19:09] jgravois commented on #590
for some reason your own request from chrome is missing a header that i'm faily sure we can't/shouldn't be setting from within the API.

i saw some success after moving your callback into an **outside** function (see example [here](https://dl.dropboxusercontent.com/u/59331579/js/token-modified.html)), but now i'm seeing the error again.

[2015-07-15 19:43] SlwStdySqz commented on #590
I attempted similar to your example but no success either.

[2015-07-16 21:42] mourner opened #593 "Link to Leaflet on the website and readme"
It's weird that the project doesn't link to Leaflet anywhere even though it mentions it a lot. cc @patrickarlt

[2015-07-16 22:14] jgravois commented on #593
happy to add a few links

[2015-07-18 23:49] #593 closed

[2015-07-20 14:21] patrickarlt commented on #590
@SlwStdySqz the issue is actually in your HTML. Esri Leaflet is working fine. In this fiddle http://jsbin.com/nexodi/edit?html,output try user1/user1 and clicking login vs user1/user1 and hitting enter.

Hitting enter will submit the form which refreshes the page which cancels all rending requests to be canceled triggering the error message. Clicking the login button however triggers your action w

[2015-07-20 14:21] #590 closed

[2015-07-20 14:37] #448 closed

[2015-07-20 14:38] patrickarlt commented on #571
@jgravois closing this. I want to get the geocoder to 2.0 also before launching the site.

[2015-07-20 14:38] #571 closed

[2015-07-20 16:26] jgravois commented on #590
if you just want a button click to trigger an AJAX web request, you could also switch to an input 'button' instead of worrying about default event listeners bubbling up.

[code]
example [here](https://dl.dropboxusercontent.com/u/59331579/js/token-button.html).

[2015-07-20 16:42] SlwStdySqz commented on #590
Thanks for the pointers guys, much appreciated!

[2015-07-21 06:44] #563 closed

[2015-07-21 06:44] jgravois commented on #572
closing, but happy to chat more if @jiantongc has any more questions/concerns.

[2015-07-21 06:44] #572 closed

[2015-07-22 15:56] dodriscoll commented on #574
Hi There,
I've tested this with the ESRI_Leaflet 1.0.0 release and it worked great, I could see the request for my layer with very long url was transmitted as a POST rather then GET.

I've just been testing out the new Leaflet-1.0.0 and ESRI-leaflet-v2.0.0-beta.3 and the issue is coming up again? If it is something I need to change in my code apologies I'll have another look I just wanted to check

[2015-07-22 19:29] mikefedak opened #602 "Update API Docs Examples for 1.0"
I noticed that you are passing url and options as separate arguments to create a layer (dynamic, tiled, image or feature). URL should be passed as a property of the options object.

See here:
https://github.com/Esri/esri-leaflet/blob/297478916d3bca5cb98dcab4a15a03791a8f1ac3/site/source/pages/api-reference/layers/dynamic-map-layer.md

[2015-07-23 01:31] jgravois commented on #602
thanks for pointing this out.  I'll fix really soon.

[2015-07-24 15:47] patrickarlt commented on #602
@jgravois looks like all the examples in the API ref need to get changed. I always forget about those.

[2015-07-24 15:53] jgravois commented on #602
no worries.  I'll go through and fix em.

[2015-07-27 11:13] burmisov opened #604 ""main" field in package.json points to non-existent file (re v2.0.0-beta.4 published on npm)"
`"main"` field in `package.json` points to "src/EsriLeaflet.js" which is not present in the published package, hence  `require('esri-leaflet')` doesn't work as expected.

Steps to reproduce:
[code]

[2015-07-27 12:57] burmisov opened #605 "Feature layer logs to console (possibly mistakenly left debug info) (Re master version)"
https://github.com/Esri/esri-leaflet/blob/master/src/Layers/FeatureLayer/FeatureLayer.js#L151
https://github.com/Esri/esri-leaflet/blob/master/src/Layers/FeatureLayer/FeatureLayer.js#L165

Thus to reproduce: Create and use a FeatureLayer. See browser console - lots of `true` log entries.

[2015-07-27 15:47] erg-web opened #606 "Uncaught TypeError: L.esri.dynamicMapLayer is not a function"
Hi

Created a Drupal leaflet map module that uses esri-leaflet to display Dynamic ArcGIS layers.

http://nrmm.london/nrmm/nrmm-map

`drupal_add_js('//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js','external');`
`drupal_add_js('//cdn.jsdelivr.net/leaflet.esri/latest/esri-leaflet.js', 'external');`

Suddenly stopped working with JS errors, probably as latest CDN esri JS file has been updat

[2015-07-27 15:55] patrickarlt commented on #606
@erg-web as noted in the breaking changes section https://github.com/Esri/esri-leaflet/releases/tag/v1.0.0 in the 1.0.0 release the method signature for all layer types changed from

[code]

to

[code]

This was done for a few reasons detailed in https://github.com/Esri/esri-leaflet/issues/578

If you rollback to the last release candidate you should be ok until you decide to upgrade.

[2015-07-27 15:55] #606 closed

[2015-07-28 08:29] erg-web commented on #606
thank you - all fixed

[2015-07-28 09:58] burmisov opened #609 "Feature layer fires an error when removed from map (re 2.0.0-beta.4)"
Specifically, `Uncaught TypeError: Cannot read property 'getBounds' of null` happening [here](https://github.com/Esri/esri-leaflet/blob/master/src/Layers/FeatureLayer/FeatureLayer.js#L171)

Reproduce:
1. Set up map
2. Add a FeatureLayer
3. Remove this FeatureLayer.

[fiddle](http://jsfiddle.net/64pympm0/) (see console)

Unfortunatelly I still didn't get a good idea of how the thing works to submit

[2015-07-28 14:55] patrickarlt commented on #605
Yup these got missed in the last version. Thanks for filing this.

[2015-07-28 16:47] jgravois commented on #604
confirmed that 2.0.0-beta.5 includes the appropriate `src` folder content.
see @patrickarlt's explanation [here](https://github.com/Esri/esri-leaflet/pull/607#issuecomment-125638805)

thanks for reporting!

[2015-07-28 16:47] #604 closed

[2015-07-28 16:48] patrickarlt commented on #605
Removed these in 2.0 beta 5

[2015-07-28 16:48] #605 closed

[2015-07-28 16:48] jgravois commented on #605
fixed via e42705ea9a88aa3d77160b2735b81eeb0aaf32df

[2015-07-28 16:48] jgravois commented on #605
jinx!

[2015-07-28 16:48] patrickarlt commented on #609
Fixed in 2.0 beta 5 but I'm leaving this open so I can write a unit test to catch this in the future.

[2015-07-28 16:49] jgravois commented on #602
fixed via 361a8323a1af28c474c421e859c5463bd4e1835d
thanks again!

[2015-07-28 16:49] #602 closed

[2015-07-30 13:37] scottlepp opened #611 "WGS84 basemap - End Tile missing"
Does the esri-leaflet plugin support WGS84 basemaps?  http://services.arcgisonline.com/arcgis/rest/services/ESRI_Imagery_World_2D/MapServer

In this example it appears the End Tile is missing:  http://plnkr.co/edit/3AttKI?p=preview

[2015-07-30 14:41] jgravois commented on #611
from the [API Reference](http://esri.github.io/esri-leaflet/api-reference/layers/tiled-map-layer.html)

see also #171, #105, #194

[2015-07-30 18:02] patrickarlt commented on #611
@scottlepp also from the service data

which is as easy as

[code]

[2015-07-30 18:17] scottlepp commented on #611
Thanks guys, unfortunately the actual service is private to the organization, so I can't just use 'Imagery'.

As a side note, It does work directly with Leaflet 1.x beta:  http://plnkr.co/edit/2KZdXt?p=preview

[2015-07-30 18:21] jgravois commented on #611
projection support was overhauled completely in leaflet 1.x, so i wouldn't be surprised if everything *just works* when you drop our compatible plugin on top too. :)

we're still in the middle of updating the website, but you can find a CDN copy [here](//cdn.jsdelivr.net/leaflet.esri/2.0.0-beta.5/esri-leaflet.js)

[2015-07-30 18:25] patrickarlt commented on #611
It never is that easy huh...

It does "just work" now at least for WGS84 basemaps. http://plnkr.co/edit/T6ZX1KQJQg0b8BCZa137?p=preview.

[code]

We need to test the new projections stuff throughly and reevaluate what we say we support. This probally means retesting all the layer types with a WGS84 basemap and making sure all the features line up.

[2015-07-31 22:22] scottlepp commented on #611
I can't upgrade yet unfortunately.  I did get it working with leaflet 0.7.x by creating a custom crs based on the EPSG4326 crs defined in Leaflet 1.0.  http://plnkr.co/edit/3AttKI?p=preview

[2015-07-31 23:05] jgravois commented on #611
glad to hear it @scottlepp.

@patrickarlt i tested a few `L.esri.featureLayer` and `L.esri.dynamicMapLayer`s in 2.0.0 and they lined up great.  i did notice though that the browser choked out almost immediately when i tried to draw 1k points.  this seems strange, especially since there is **no** reprojection required to draw lat/long geojson on a lat/long map.

[2015-07-31 23:13] jgravois commented on #525
implemented in [2.0.0-beta.1](https://github.com/Esri/esri-leaflet/releases/tag/v2.0.0-beta.1).

[2015-07-31 23:13] #525 closed

[2015-08-01 00:44] patrickarlt commented on #611
@jgravois can you put togather a js fiddle or similar of the performance issue?

[2015-08-05 11:28] dodriscoll commented on #574
Hi There,
Just wondering do I need to open a new call for this?  I've tested with the ESRI-leaflet-v2.0.0-beta.5 and the issue is still there.  The code is still using the GET to request my image service and the url is too long for the GET.

Thanks and regards

[2015-08-05 13:37] jgravois commented on #574
I'll take a look at this soon and let you know what I find.

[2015-08-05 13:59] dodriscoll commented on #574
Sorry I only needed to change the call for the imagemaplayer from GET to REQUEST in the code and I've done this.  The issue is still there for you're own reference but it's working ok for me now as I only needed the change to request an imagemaplayer.

Thanks,

[2015-08-09 17:18] patrickarlt opened #614 "Tiles from ArcGIS Online no longer work"
@themapsmith and I worked through this on Slack the other day https://gisdevs.slack.com/archives/leafletjs/p1438972718000050. It looks like tiles from ArcGIS Online no longer work for some reason.

[2015-08-09 22:58] patrickarlt commented on #614
Looks like tile create in ArcGIS Online changed at some point from `tiles.arcgisonline.com` to `tiles.arcgis.com` so this just needs an updated regular expression.

Good news is this also lead me to fixing a Leaflet bug.

[2015-08-09 22:58] #614 closed

[2015-08-11 22:27] vu-dang opened #615 "ESRI logo link"
When the user clicks on the ESRI logo link the map is unloaded as the link takes the user to ESRI web site.  Is it possible to make the link opens a new window instead?  The JavaScript API ESRI logo opens a new window.

[2015-08-12 23:34] rowanwins opened #616 "Understanding ArcGIS Online auth"
Gday @patrickarlt & @jgravois ,

I'm just working on an application that requires ArcGIS online authentication to access secure services that are hosted by AGO. I've managed to successfully use the [OAuth2 approach as per your demo](https://esri.github.io/esri-leaflet/examples/arcgis-online-auth.html) however Im wondering if it's possible to have more of an standard login page for my app rather th

[2015-08-13 00:00] aaronpk commented on #616
@rowanwins It's not safe to ask for the user's username and password. However you don't need to pop up the login page in a separate window, you can redirect to it instead. There are some more docs on that here: https://developers.arcgis.com/authentication/browser-based-user-logins/

[2015-08-13 01:54] rowanwins commented on #616
Thanks @aaronpk , From the sounds of your description I could have my application follow a workflow a bit like [this argis js api example](http://developers.arcgis.com/javascript/samples/portal_oauth_inline/).

I'm still not entirely sure what the unsafe part of a form is but I think that's a whole other lesson in auth for another day, probably an important one!

Anyway I'll have a play and see ho

[2015-08-13 01:54] #616 closed

[2015-08-13 15:40] patrickarlt commented on #616
@rowanwins the idea is to prevent phishing attacks that attempt to spoof sign in forms. By showing the URL the user allowed to know 2 things

1. That the connection I am sending my credentials over is secure.
2. That I am sending my credentials to a domain I trust.

If you dont show the URL bar (like asking for username/password in a modal vs popup) that modal could technically send those credenti

[2015-08-13 17:21] aaronpk commented on #616
Developers should *never* ask users for their ArcGIS or any other passwords. Think of it this way, would you feel comfortable giving a random application your Email login and password? I sure hope not! That's the problem OAuth solves.

[2015-08-14 04:13] rowanwins commented on #616
Thanks for the fuller explanations @patrickarlt and @aaronpk , that is starting to make more sense now!

[2015-08-16 23:06] jgravois commented on #615
sounds reasonable to me.

I'll get to this sometime soon unless another kind soul submits a PR first.

[2015-08-18 20:16] #615 closed

[2015-08-19 03:23] mikefedak opened #621 "Handling empty responses from feature service edits"
I noticed some issues with addFeatures in esri-leaflet 1.0.0

Error and success are handled properly, however the library throws a type error if an empty object is returned from the server. I would suggest handling the empty return as an error.

[2015-08-19 03:39] jgravois commented on #621
I only recall having seen `success` and `err` responses.  would you be able to elaborate?

[2015-08-19 04:32] mikefedak commented on #621
It may just be the server configuration I am working with but attempting to use esri-leaflet the published featureservices and addFeature results in an empty object response from the server. I started to try and narrow the issue down but decided instead to just write my own call for handling editing.

[2015-08-19 04:59] jgravois commented on #621
i'd be happy to try and trap the problem here if you can provide a repro case or more information about exactly what's wrong with your requests.

[2015-08-20 15:34] dodriscoll opened #622 "continual requests for image map layer when panning/zooming"
I have a map with 2 layers, these layers are from a single image Map service with the data rendered in two different ways using raster functions.  The requests for the layers fire continually when I zoom or pan quickly and they all need to be completed before the image is shown which slows down the rendering of the map considerably.  If there was a way to check if the next pan/zoom occurs before a

[2015-08-20 17:17] jgravois commented on #622
does the version of the API you are using include the fix described in #498?

[2015-08-20 21:00] nawatts opened #623 "Broken links to FeatureLayerService in documentation"
On http://esri.github.io/esri-leaflet/api-reference/, in the "Base Classes" section of the sidebar, the link to "FeatureLayerService" is broken.

It points to http://esri.github.io/esri-leaflet/api-reference/services/feature-layer.html whereas it looks like it should point to http://esri.github.io/esri-leaflet/api-reference/services/feature-layer-service.html.

Also, on http://esri.github.io/esri-

[2015-08-20 21:06] jgravois commented on #623
@sidewalkballet fixed those problems a couple days ago in #618.  we'll be pushing her changes to the live site shortly.

[2015-08-20 21:06] #623 closed

[2015-08-20 21:29] nawatts commented on #623
Awesome. Sorry about the duplicate, didn't think to look at pull requests before submitting.

[2015-08-20 22:00] jgravois commented on #623
no worries at all.  thanks for taking the time to report!

[2015-08-21 08:12] dodriscoll commented on #622
Yes it does, it's the most recent release esri-leaflet-v2.0.0-beta.5.  I've put the following into my code:
  map.on("zoomstart", function (e){
	map.spin(true);
	Bathy.removeFrom(map);
	BathyShaded.removeFrom(map);
	 });
  map.on("zoomend", function (e) {
	Bathy.addTo(map);
	BathyShaded.addTo(map);
 });
  map.on("dragstart", function (e){
	map.spin(true);
	Bathy.removeFrom(map);
	BathyShaded.remov

[2015-08-21 08:16] dodriscoll commented on #622
Also I was seeing some jumpiness when panning or zooming especially on mobile devices and when panning/zooming would complete the page didn't seem to refresh with the final destination.  It would display intermittent tiles so although I have 2 layers that should overlay exactly; a greyscale and a colour images, these would be offset so I'd get something like the screenshot below.  This seems to be

[2015-08-25 00:47] jgravois opened #624 "add link to older CDN to website"
we should link to historic CDN urls on the downloads page for people who won't/can't/just haven't upgraded yet.  i find myself trying to dig them up for one reason or another fairly often.

(1.0.0-rc.6 and below)
http://cdn-geoweb.s3.amazonaws.com/esri-leaflet/1.0.0-rc.6/esri-leaflet.js

(1.0.0-rc.7 and above)
http://cdn.jsdelivr.net/leaflet.esri/1.0.0-rc.7/esri-leaflet.js

@Esri/leaflet-contribut

[2015-08-27 13:47] blomm commented on #333
Was this ever fixed? I can't see attribution as an option for L.esri.Layers.DynamicMapLayer, and I don't see DynamicMapLayer attribution referenced in the changelog.

[2015-08-27 15:02] blomm commented on #333
Actually, I see now that it is an option in the parameters, it's just the api reference is a bit out of date I guess.

[2015-08-27 15:34] jgravois commented on #333
@bloom thanks for pointing out the problem!

i updated the doc in 5377e52.  we will be pushing a whole bunch of Leaflet 1.0.0b1 changes to the live site soon so the correction will appear after #620 is merged to `gh-pages`

[2015-08-27 21:25] #208 closed

[2015-08-27 21:35] jgravois commented on #624
resolved by e5f48b7

[2015-08-27 21:35] #624 closed

[2015-08-27 21:36] jgravois commented on #621
closing, but happy to chat more if you can provide more info.

[2015-08-27 21:36] #621 closed

[2015-08-28 18:10] jgravois opened #626 "update geosearch provider doc with more info about providers"
w/ the new good stuff from patrickarlt/esri-leaflet-geocoder@d3ca7b11971546c6b7c260a7f1cc75bb518666fe

[2015-08-31 21:00] Behseini opened #627 "How Can I Update Attibution"
I am using Leftlet and creating a Map Like this

<code>
var map = L.map('map').setView([54.793577, -126.687482], 6);
          L.esri.basemapLayer('NationalGeographic').addTo(map);
</code>

now can you please let me know how I can update the leaflet-control-attribution  to display the following information
<code>
 attribution: '&copy; <a href="http://www">Thesite</a> contributors, Points &copy 201

[2015-08-31 21:11] jgravois commented on #627
if you'd like to insert generic mapwide text that is **not** associated with one layer in particular, you can/should utilize the `addAttribution()` method of Leaflet's own [Attribution Control](http://leafletjs.com/reference.html#control-attribution-addattribution) which is available via the map object by default.

[code]

[2015-08-31 21:16] Behseini commented on #627
Thanks jgravois

[2015-08-31 21:17] #627 closed

[2015-09-08 05:47] ReneeLai opened #629 "how to overlay multiple tile layers with different starting origin ?"
if there's a way to overlay multiple tile layers with different starting origin .
![2](https://cloud.githubusercontent.com/assets/8597127/9727284/e2834db2-562f-11e5-8f4e-473a8101d56e.png)
![1](https://cloud.githubusercontent.com/assets/8597127/9727285/e289ccdc-562f-11e5-8296-eca400db9740.png)

[2015-09-08 06:15] ReneeLai opened #630 "how to overlay multiple tile layers with different starting origin ?"
if there's a way to overlay multiple tile layers with different tile origin .

origin1
![1](https://cloud.githubusercontent.com/assets/8597127/9728773/e15dda80-563c-11e5-94df-ce898ca73f3d.png)

origin2
![2](https://cloud.githubusercontent.com/assets/8597127/9728776/e75f5a94-563c-11e5-802d-372d45400749.png)

I had try this
but I have no idea how to overlay the second layer with different tile origi

[2015-09-08 14:56] jgravois commented on #630
since custom CRS properties like origin are assigned directly to the map, I don't see how we could support overlaying two TiledMapLayers with different schemas.

I could be mistaken, but I don't think this is possible in our flagship JSAPI either.

[2015-09-08 14:56] jgravois commented on #629
duplicate of #630

[2015-09-08 14:56] #629 closed

[2015-09-09 16:16] alaframboise opened #631 "Support for Esri vector tiles"
It would be great to see support for these guys.  e.g.

http://basemapsbeta.arcgis.com/arcgis/rest/services/World_Basemap/VectorTileServer/tile/2/0/0.pbf

[2015-09-09 21:06] jgravois commented on #630
just out of curiousity, whats the benefit in publishing different esri tiled map services using the same projected coordinate system but different origins?

[2015-09-09 23:46] #609 closed

[2015-09-10 15:09] patrickarlt commented on #630
@jgravois has it right you cannot use 2 different CRSs on the same map. You best bet would be to republish one service so the origin is the same.

[2015-09-10 15:14] patrickarlt commented on #631
I am for sure doing this. But I'm taking a wait and see approach for now since I would rather implement it on top of MapBox GL JS directly assuming our tiles will be compatible with it rather then bundling it with our customized closed source renderer.

[2015-09-11 21:35] anatolyg opened #633 "Should be able to pass identify options into bindPopup for a dynamic layer"
Right now there are defaults that are applied to the identify call from a dynamic layer. It would be great to be able to pass an options object that overwrote some of those. For example, I might not want to return the geometry for the feature, or, I might want to make the tolerance higher (or lower).

[2015-09-11 21:50] jgravois opened #634 "add sample to demonstrate controlling drawOrder"
show people how to add layers in order with panes.

[2015-09-11 21:53] jgravois commented on #633
we typically expect people to call the [available methods](http://esri.github.io/esri-leaflet/api-reference/tasks/identify-features.html) for setting identify request properties in advance of calling `run()`.

[code]
is there a reason why this isn't ideal for you?

[2015-09-11 21:59] anatolyg commented on #633
I create the layer using `L.esri.dynamicMapLayer` and then use the `bindPopup` to set up popup. I may do this to multiple layers on the same map, so it's really convenient that the layer itself handles the identify service creation (via `_getPopupData` function). But I don't see a way to pass options to the identify task from instanciating the layer this way. Totally possible I am missing somethin

[2015-09-11 22:07] jgravois commented on #633
thanks for clarifying..  i'll have to think about this a bit to try and decide the best way to expose an opportunity to get more fine grained control (ie: dynamicMapService initialization, when calling `bindPopup()` etc.)

would it be sufficient to be able to pass identifyParameters that applied to *all* layers, or are you expecting to set things differently layer by layer?

[2015-09-11 22:12] anatolyg commented on #633
I hope layer by layer. Use case is time-based identify calls -- maybe you want to see data for a layer a year in the future of data for another layer. The single parameter set won't do there. But bigger picture, it would be useful to set a variety of parameters that are currently exposed via methods as parameters into the `identifyFeatures` call (and then allow for an `identify` field to be set du

[2015-09-11 22:15] jgravois commented on #633
but for the time being you can just listen for the map click, fire your own identifyFeatures request and display the results in a popup, correct?

[2015-09-11 22:17] anatolyg commented on #633
Oh, for sure! This isn't blocking me, just a nice to have. I really like the bindPopup feature, just thought you guys might be interested in some feedback.

[2015-09-11 22:19] jgravois commented on #633
always. thank you for it. :smile:

[2015-09-13 00:03] phpmaps opened #636 "leaflet dependency issue 0.7.3"
Looks like there is a leaflet dependency issue that impacts the master branch.  The readme and the [release notes](https://github.com/Esri/esri-leaflet/releases/tag/v1.0.0) say there is support for 0.7.3.  However, the [build uses the leaflet beta version](https://github.com/Esri/esri-leaflet/blob/master/package.json#L14 ).  When switching to 0.7.3  there are exceptions saying  ```Cannot read prop

[2015-09-13 14:36] jgravois commented on #636
version 1.0.0 of esri-leaflet corresponds with Leaflet 0.7.3.  version 2.0.0 and above correspond with Leaflet 1.0.0.

you can find more information [here](https://github.com/Esri/esri-leaflet/wiki/Esri-Leaflet-1.0.0-Announcement)

the sample [app](https://github.com/Esri/esri-leaflet/blob/master/debug/sample.html) included in the repo loads Leaflet from the node dependencies of the project.

it's

[2015-09-13 15:49] phpmaps commented on #636
@jgravois I think I assumed that the master branch is at 0.7.3.  To help me understand can you let me what version is associated with the master branch?  My experience was when I cloned master and created an app w/ leaflet 0.7.3, the esri-leaflet plugin at ```master``` hit the exception ```Cannot read property 'extend' of undefined```.

So are you saying that is known issue until #620 gets merged?

[2015-09-13 17:42] jgravois commented on #636
nope, `master` is our live code (only compatible with leaflet 1.0.0b1, next tag will be either 2.0.0beta5 or possibly just plain old 2.0.0).

the only thing going on in #620 is changes to our documentation.  when i merge into `master` and sync `gh-pages`, the [live website](http://esri.github.io/esri-leaflet) will show Leaflet 1.0.0b1 compatible sample apps.

feel free to post a jsbin or equivalen

[2015-09-13 17:46] jgravois commented on #630
closing this issue, but happy to chat more if it'd be helpful

[2015-09-13 17:46] #630 closed

[2015-09-13 17:57] phpmaps commented on #636
Great - I guess you are saying that this issue will be resolved when #620 gets merged.  When I logged it it was really about the master's readme saying the leaflet dependency is Leaflet 0.7.3 when it's really Leaflet 1.0.0b1.  @jgravois would it be ok that I make a pull request now with that simple read me change?

[2015-09-13 18:10] jgravois commented on #636
please do.

it would also be really helpful if you also bumped the CDN versions in the inline sample and explicity mentioned that version `0.7.3` of Leaflet is supported when using version `1.0.0` of esri-leaflet **and** version `1.0.0.b1` of Leaflet is supported (with Esri Leaflet `2.x`).

[2015-09-14 06:52] ReneeLai commented on #630
Our company publishes web mapping services of Taiwan only rather than a global scale.

If there's no standard for cases like this, we would have different origins using Services from different sources.

[2015-09-14 15:33] jgravois commented on #630
publishing services with different reference data doesn't mean each needs to have its own unique coordinate system with unique origin.  whether you adopt one of the local projections for taiwan that comes installed with ArcGIS or define an alternative, you aren't obligated to cache tiles for the whole world.

[2015-09-14 16:11] andygup commented on #636
Can you also consider updating the [roadmap](https://github.com/Esri/esri-leaflet/wiki/Roadmap)? I understand this may need to be a separate issue, but it is related.

[2015-09-14 18:34] jgravois commented on #636
@andygup.  good call.  i just made a few edits to reflect what's changed.

[2015-09-14 19:08] andygup commented on #636
@jgravois perfect, thanks! That's in sync with what you and I chatted about, and I'll be including a link to the page in my prezo next week.

[2015-09-15 21:21] jgravois commented on #636
closed via 491791833344686a8c2a68b79c0e140b9ae733a3

[2015-09-15 21:21] #636 closed

[2015-09-15 21:37] jgravois opened #640 "L.esri.request() questions"
##### what exactly is the point of `L.esri.get.JSONP` and `L.esri.get.CORS`?

i thought the only time you have to worry about CORS support (or a fallback) was for POST requests.
am i missing something?

##### don't we need to introduce the ability to reference a proxy when calling `L.esri.request()` directly if we say we support JSONP?

right now support for proxies is only built directly into [`L

[2015-09-16 09:52] ReneeLai commented on #630
We haven't come across such issue before while using Esri Javascript API and Esri API for Flex, not unitl recently when we start using leaflet. I will discuss further with our GIS personnel regarding this and seek for alternative approach. Thank you for your reply.

[2015-09-16 22:28] tinksthomas opened #641 "Force requests to be POST"
Is there a way to force the requests to be POST requests always? I know there are conditions that esri-leaflet forces this (E.G. if CORS is enabled and request length is over 2000 etc) but it would be good if there this was a parameter that could be set. I imagine it's probably easy enough to patch esri-leaflet in my case but I thought other people may like this feature too.

[2015-09-16 22:31] jgravois commented on #641
have you tried using `L.esri.post()`?

[2015-09-16 22:32] jgravois commented on #641
oh, nevermind.  sounds like you are talking about other methods that invoke requests as well...

what is an example use case in which invoking a POST automatically would be useful?

[2015-09-16 22:45] tinksthomas commented on #641
Unfortunately our use case is pretty lame - it's a workaround for a request that fails every second time when using get requests. I guess there may not be too many valid use cases for forcing to POST requests.

https://geonet.esri.com/thread/64835

So in my case (contrived example):

[code]

Cheers

Andrew

[2015-09-16 22:53] jgravois commented on #641
that's an old bug, but it was a doozie!

if you really can't upgrade ArcGIS Server, you can also do something like this to make sure each request is unique

[code]

[2015-09-16 23:00] tinksthomas commented on #641
That should work for me. Cheers.

[2015-09-16 23:02] jgravois commented on #641
cool.  just make sure and overwrite your `where` clause each time you plan on calling `run()` to ensure that the requests are unique.

[2015-09-17 16:51] #641 closed

[2015-09-17 17:13] jgravois opened #642 "we need a sample which demonstrates use of L.esri.query()"

[2015-09-20 02:31] SamDrummond opened #643 "Feature Layer maxZoom not respected when zooming out"
I have encountered a few issues with the FeatureLayer minZoom and maxZoom. In trying to set up a test case, I actually encountered a situation where the maxZoom appears to be ignored when the map is zoomed out beyond the maxZoom level parameter.

Steps to recreate:
1. Open http://codepen.io/anon/pen/MaewrR
2. Zoom in two or three levels
3. The feature layer markers should be visible
4. Zoom to the

[2015-09-22 13:35] peterneubauer opened #644 "Support update on pan for FeatureLayer"
When panning, new data in the feature layer, edited from other sources, should show up in the layer, much like in the native ESRI webviewer.

[2015-09-24 17:57] phpmaps opened #646 "Is ES6 Promise object okay to use in esri-leaflet plugins?"
Is this pattern ok to use?

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise

[2015-09-24 18:02] jgravois commented on #646
if youre okay with your plugin [not working in IE](http://caniuse.com/#feat=promises), thats okay with me, you'll just need to mention it in your doc.

[2015-09-24 18:07] phpmaps commented on #646
@jgravois  - Ok, thanks.  No further questions.

[2015-09-24 18:08] #646 closed

[2015-09-25 23:52] patrickarlt commented on #634
I nominate @nikolaswise for this since he was really excited to use it.

[2015-09-26 02:42] patrickarlt commented on #640
If a browser doesn't support CORS you need JSONP for GET requests too, this means IE 9.

[2015-09-26 02:51] patrickarlt commented on #640
Reopening because I didn't respond to the proxy issue.

So should we/do we need to support proxies in the request methods?

It would be pretty simple to do

[code]

This is a little weird because then you mix request options with request params even something like

[code]

still feels odd but if you think it is needed.

[2015-09-27 00:48] jgravois commented on #640
thanks for clarifying.  i assumed (incorrectly) that since you *only* need to configure a proxy in the [jsapi](https://developers.arcgis.com/javascript/jshelp/ags_proxy.html) to help form JSONP **POST** requests when CORS was not supported, that a GET was just a GET.

i can see now that it is necessary, as you said, to utilize JSONP even even when making a simple GET request to a non cors enabled

[2015-09-27 00:48] #640 closed

[2015-09-28 19:32] jgravois opened #647 "some BasemapLayers write 'null' to Leaflet's attribution control"
when adding a 'Labels' layer to the map (OceansLabels, GrayLabels, DarkGrayLabels), 'null' is added (as a string) to Leaflet's attributionControl.  see the bottom righthand corner of the screenshot below for an example.

![screenshot 2015-09-28 12 49 43](https://cloud.githubusercontent.com/assets/3011734/10146777/6f3d7c00-65df-11e5-92ca-ecae2ba15415.png)

### to reproduce this bug:
1. fork/clone t

[2015-09-28 20:04] kentcdodds commented on #647
:clap: :clap: :clap: :clap: Glad to see `first-timers-only` taking off.

If you're a first timer, take advantage of this invitation. It's an invitation to get some hand holding on your first PR. Bravo @jgravois. It definitely takes more work to hold someone's hand through this, but it's totally worth it :-) :clap: :clap: :clap: :clap:

[2015-09-28 23:16] brianbancroft opened #648 "Problems installing the dependencies"
Hi there,

I'm having a bit of trouble in making it to the starting gate to make it to the issue offered for first-timers: https://github.com/Esri/esri-leaflet/issues/647

Specifically, I wasn't able to load the sample html file locally. Instead, I got what appears to be the leaflet framework, but with no basemap. I believe the problem is related to my inability to install the dependencies properl

[2015-09-28 23:21] jgravois commented on #648
hi @brianbancroft.  thanks so much for jumping in to contribute to this project!

based on my reading of your error logs, i'm under the impression that something is wrong with your base installation of node/npm.  when you type the following commands into the terminal, what is returned?
[code]

secondly, its always a good idea to use `http://` protocol when you load local web applications.  check o

[2015-09-29 00:03] brianbancroft commented on #648
Hi @jgravois,

Based on your suggestion, I looked at what I had, but couldn't get the version out of node or npm. So I uninstalled using the package manager, and reinstalled using apt-get install. Here's what I have now:

[code]

Thanks for pointing me in this direction. This is certainly one problem down. There's still another to go, unfortunately:

[code]

On a side note, I'm currently attemptin

[2015-09-29 00:12] jgravois commented on #648
since you noted that in terminal, `nodejs` is what's actually on your $PATH, perhaps you just need to follow @othiym23's advice in nodejs/node-v0.x-archive#3911, or perhaps symlink to `node` as digitalmediums suggests.

(i'm not a linux user, so please take this recommendation with a grain of salt)

[2015-09-29 01:59] GISDev01 commented on #648
@brianbancroft Since you're on ubuntu:
sudo apt-get install nodejs-legacy
should do the trick to fix that error.

[2015-09-29 21:10] brianbancroft commented on #648
Thanks @GISDev01 ! This has solved my shenanigans :+1:

[2015-10-01 04:52] #648 closed

[2015-10-03 00:26] brianbancroft commented on #647
Hi there, I've run into the same problem you're observing. I'm looking into it.

[2015-10-05 15:08] NickKyriakidis commented on #403
Hello!

MapServer is a collection of layers usually, so I would like to know if there is a way to load all the layers at once. I use dynamicMapLayer and still that doesn't work. I also tried with the mapServer that @buckleytom provided, same results!

[2015-10-06 05:06] vielmetti commented on #642
Is it just a matter of adapting the docs at http://esri.github.io/esri-leaflet/api-reference/tasks/query.html ?

[2015-10-07 00:52] brianbancroft commented on #647
Hi there, I thought I solved the problems with my installation, but that was not the case. I'm going to try to jump into that later, but after looking at the real problem, it turned out to be an easier fix than I was expecting, being my first kick at this can.

In this particular instance of the problem,  I found that the OceanLabels class lacked an attribution value, and that's why the addAttribu

[2015-10-07 02:35] brianbancroft commented on #648
Sorry to say, but I do still have some troubles getting this to work via http-server.

The file runs locally off of file:///.../debug.html with blue states, but when I try to run this via http-server in the way prescribed by @GISDev01, I run into the following problem:

[code]
It's safe to say that I run into the same problem at the web browser as when I started.

[2015-10-07 10:03] blq opened #649 "Race condition due to asynchronous initialization of TiledMapLayer"
TiledMapLayer uses the asynchronous metadata MapService call in the onAdd method.
But there seem to be no way to get notified when the async service call is finished.
This leads to the case were the map's "layeradd" event fires before the TileMapLayer setup is actually ready, which might cause race condition in initialization. I.e other code that starts to manipulate the map/layer will risk doing

[2015-10-07 21:36] jgravois commented on #648
are you sure that you've `cd`ed into the appropriate folder?  (ie: can you load a generic hello world.html file in the root of the web server which has been spun up?)

if so, are you positive that the recorded which can't be loaded are present in the locations `http-server` is checking?

[2015-10-07 21:41] jgravois commented on #647
**awesome** work.

I don't even think we even need an else block.  we just need to make sure **not** to `return` attribution unless it's present in the service itself.

its valid that the labels layers don't have attribution (otherwise we'd just end up with duplicate references to the data sources used for the paired layers)

[2015-10-08 02:37] brianbancroft commented on #648
So I started with the hello world the other day. a simple index.html and it worked fine.

But it turns out that the problem was the directory that I referenced. By choosing /home/brian/git/esri-leaflet/debug/ as the directory in http-server, it meant that I wasn't able to access the files in any prior directory such as .../esri-leaflet/. I realized this just now and tested by trying to reference a

[2015-10-08 21:32] jgravois commented on #642
I was thinking of another whole page example similar to the ones [here](http://Esri.github.io/esri-leaflet)

[2015-10-09 03:16] brianbancroft commented on #647
So I've run into another series of first-timer issues. The idea of using the **if** loop should work, but when I've been attempting it locally, it hasn't been that lucky. The null still appears - even when I put a dummy attribution in the `OceansLabels` base feature class.

To troubleshoot further, I also used a statement guaranteed to return a **false** value to the **if** statement `if(4<1)`, wh

[2015-10-09 09:54] jgravois commented on #647
at this point, it'd be easiest to discuss the proposed change in more detail if you submitted a pull request so I can see the exact differences in your code and perhaps even test them locally.

with regard to the strange behavior in your browser...

1) for now you need to make sure to call `npm run build` to recompile the minified source each time you make a change.

2) I've noticed chrome in part

[2015-10-09 13:59] jgravois opened #650 "start 'watching' raw source"
we should incorporate a build tool which observes the source code and rebuilds the minified/concatenated `dist` folder content automatically.

[2015-10-09 15:26] patrickarlt commented on #642
@jgravois could be an adaptation of http://esri.github.io/esri-leaflet/examples/feature-layer-snapshot.html

[2015-10-10 01:18] brianbancroft commented on #647
Ah, the `npm run build` was the solution to the problem I was having. Thanks again!

I've created a pull request with what I've verified on Chrome and Firefox to be a solution to the bug.

Once again, thanks for taking me on for this easy fix. I've learned a lot about git, command line that I wouldn't have otherwise in my spare time!

[2015-10-10 01:26] kentcdodds commented on #647
That's exactly what this `first-timers-only` initiative is all about @brianbancroft. I'm so glad you had a good experience. Thanks to @jgravois for being willing to help! :D This is awesome :D

[2015-10-13 16:59] jgravois commented on #403
just to clarify/reiterate, the `dynamicMapLayer` constructor expects a url that ends in '/[yourservice]/MapServer/` and asks the server to draw a raster image on the fly, displaying multiple layers at once.  (check out the example [here](http://esri.github.io/esri-leaflet/examples/dynamic-map-layer-reprojected.html)).

the `featureLayer` constructor expects a url that ends in a number (like 'MapSe

[2015-10-14 15:49] patrickarlt opened #652 "Break out dependencies"
Currently several things in the Esri Leaflet source code could be their own small modules.

* [x] `FeatureGrid` should just be included from https://github.com/patrickarlt/leaflet-virtual-grid
*  [x] `BinarySearchIndex` form https://github.com/Esri/esri-leaflet/blob/master/src/Layers/FeatureLayer/FeatureManager.js#L482-L531 could also be included.
*  [x] The GeoJson/ArcGIS JSON utils https://githu

[2015-10-14 15:55] jgravois commented on #652
i'm happy to chip in.

i was thinking the other day of taking a crack at extending http://geojson.io to show/draw esri.json anyway and your third bullet sounds like exactly the dependency that'd be helpful :smile:

[2015-10-14 17:06] jgravois commented on #647
resolved by #651.  well done @brianbancroft!

[2015-10-14 17:06] #647 closed

[2015-10-15 09:42] bestpika opened #653 "L.esri.Util.arcgisToGeojson could not convert polygon?"
I am using esri-leaflet v1.0.0 and leaflet v0.7.5.
I trying to use L.esri.Util.arcgisToGeojson(Feature), but it always return null...
like this
![console](http://i.imgur.com/NuJKYUI.png)

code
[code]

[2015-10-15 10:24] #653 closed

[2015-10-15 13:09] jgravois commented on #653
the method youre calling expects you to pass in a feature described using Geoservices/Esri JSON and will convert it to GeoJson.

even though not all ArcGIS services emit GeoJson natively (yet), the features returned by Esri Leaflet functions are always *already* GeoJson
so there's no need for you to convert them yourself.

[2015-10-16 23:45] jgravois opened #655 "source maps are not refreshed after recompiling (in chrome only)"
STR `Version 46.0.2490.71`
1. make a change to the raw source
2. recompile
3. notice that the sourcemap displayed in chrome's developer tools does not reflect your change.

this looks like a bug in [chromium](https://code.google.com/p/chromium/issues/detail?id=508270) and it has been driving me *nuts*.

for now i am clearing the browser cache manually ( More Tools > Clear Browsing Data...).  a bet

[2015-10-16 23:47] jgravois commented on #655
from [the doc](https://www.npmjs.com/package/http-server)

[2015-10-19 15:52] #650 closed

[2015-10-19 16:34] jgravois opened #656 "geometries of returned features in identify sample don't look right"
click on joshua tree in the sample [here](http://esri.github.io/esri-leaflet/examples/identifying-features.html) and notice that the returned feature is just a bunch of oversimplified triangles.
![screenshot 2015-10-19 09 34 25](https://cloud.githubusercontent.com/assets/3011734/10583956/9a998c2a-7644-11e5-8bd5-827b32466c13.png)

it doesn't look like we are asking for an altered geometry in our re

[2015-10-19 16:38] jgravois opened #657 "enhancement: make sure text search in 'finding features' sample isn't case-sensitive"
'texas' doesn't return a match in the sample [here](http://esri.github.io/esri-leaflet/examples/finding-features.html), but 'Texas' does.

it'd be cool if we had logic in the sample to ensure that the match **isn't** case-sensitive.  at a bare minimum, we should include placeholder text that demonstrates a search string which will return a result.

[2015-10-19 16:40] jgravois opened #658 "simple ImageMapLayer sample doesn't need a tiled basemap"
lets remove the gray basemap from the sample [here](http://esri.github.io/esri-leaflet/examples/simple-image-map-layer.html)

[2015-10-19 17:10] #655 closed

[2015-10-19 20:55] patrickarlt commented on #656
@jgravois this service is terrible anyway. If you can find a better one please switch to it!

[2015-10-20 04:48] rowanwins opened #659 "Building on windows"
Gday guys,

Not sure if its just me but I've had some troubles getting the esri-leaflet to build on my windows machine.

The build kept failing saying
[code]

In the end I worked it out by replacing the following in the package.json
[code]
with
[code]
Not sure if this is the best way to tackle this or if such a fix would effect macs, I'm sure you guys are more across the issues than me :)

Cheers,

[2015-10-20 20:53] jgravois commented on #659
it looks like this is because the [first line](https://github.com/Esri/esri-leaflet/blob/master/scripts/build.js#L1) of the script declares an instruction to run with `node` via a UNIX path.  see [this thread](http://stackoverflow.com/questions/10396305/npm-package-bin-script-for-windows) for more info.

i did a quick check and calling 'node ./scripts/build.js' works just fine on a mac so i'm game

[2015-10-20 20:55] patrickarlt commented on #659
:+1:

[2015-10-20 21:58] rowanwins commented on #659
Awesome, glad your happy with that approach. I currently have a pull request open for another issue and for some reason the change for the above has been included in that PR so sorry about that (think I need to start working in branches or something like that....).

[2015-10-20 21:58] #659 closed

[2015-10-21 16:54] kneemer opened #661 "Invalid links in documentation site"
I believe the documentation is still for 1.0.0, correct?  I could correct these links but I'm not sure what branch to be using and how to build the site.  I'm going to put them all here for whomever tackles it.

http://esri.github.io/esri-leaflet/api-reference/
 * In the sidebar FeatureLayerService points to services/feature-layer.html not services/feature-layer-service.html
 * The sidebar does no

[2015-10-21 17:37] jgravois commented on #661
yup.  most of the bad links are already fixed in #620, but i didn't realize initially that we were going to wait for Leaflet 1.0.0 final before pushing our own documentation updates.

there are several different ways to fix the problems in the interim
1. fix the site, merge into `master` and push to `gh-pages` (i can resolve conflicts in #620 afterward if necessary)
2. create a new isolated branch

[2015-10-21 17:45] kneemer commented on #661
I could try the second approach for a temporary fix and branch off v1.0.0.

[2015-10-22 07:04] bestpika opened #662 "Can not set bboxSR and imageSR when create DynamicMapLayer."
https://esri.github.io/esri-leaflet/api-reference/layers/dynamic-map-layer.html

DynamicMapLayer have option bboxSR and imageSR.
I set bboxSR and imageSR, but it not work.
[code]
But It always send
[code]

I am using v1.0.0.

[2015-10-22 16:02] jgravois commented on #662
i think this is because we're setting `bboxSR` and `imageSR` using the map.options in [`L.esri.RasterLayer`](https://github.com/Esri/esri-leaflet/blob/master/src/Layers/RasterLayer.js#L19-L23).

are you loading your DynamicMapLayer on top of an Esri basemap or other tiled layer? if so, what is its coordinate system?

[2015-10-22 17:42] alaframboise commented on #634
Is there something beyond listening for when the layer is finished loading to force the draw order you want?

[2015-10-22 17:47] alaframboise opened #663 "Reference CDN in example"
It would be helpful if the example [here](https://github.com/Esri/esri-leaflet) had a ref to the CDN instead of a local ref. Just like the examples.

[code]

[2015-10-22 17:53] nikolaswise commented on #634
Whoops thats me. In the new leaflet 1.0, you can add panes to a map and add layers to the pane.

[code]

[2015-10-22 17:54] jgravois commented on #634
as of Leaflet 1.0, you can specify a pane by name when you construct your objects.  this isn't documented on the public site yet (and won't be until Leaflet declares final), but you can spin up the website locally using `grunt`.

[2015-10-22 17:55] jgravois commented on #663
pull requests are being accepted.

[2015-10-22 17:58] jgravois commented on #663
url would be:
`https://cdn.jsdelivr.net/leaflet.esri/2.0.0-beta.6/esri-leaflet.js`
at beta 2, leaflet changed their url syntax as well:
`http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.js`

[2015-10-23 02:35] bestpika commented on #662
But API ref. says it have these options?

[2015-10-23 16:37] patrickarlt commented on #662
@bestpika @jgravois we should probably remove these options from the API reference. We have to use the spatial reference from `map.options.crs` to make sure the image is output at the correct spatial reference for display on the map and that the bbox that we pass to the server is actually in a format the server can understand. So these options are actually ignored.

This probably needs a review no

[2015-10-23 20:43] Greigrm opened #665 "Layer refresh not removing unwanted markers"
My use case here may not be valid, so please close if not relevant.

I would like a layer where I can effectively leave the map screen open and have the layer re-queried in the background and any added markers placed onto the map, and any missing markers removed.  I'm not so concerned about changes to items staying on the map, just really the add/delete.

Looking at the disussion for #533 I have t

[2015-10-23 23:29] jgravois commented on #665
`L.esri.featureLayer.refresh()` should definitely fetch newly created features *and* remove features from the map that are no longer present in the service.

I'll check into it.

[2015-10-24 06:41] bibeputt opened #666 "Error: Map Container Is Already Initialized"
refreshing a  map giving Error: Map Container Is Already Initialized

[2015-10-24 19:50] jgravois commented on #666
* what do you mean by that?  refreshing the page?  calling a map method like [`invalidateSize()`](http://leafletjs.com/reference.html#map-invalidatesize)?
* what version of esri-leaflet are you using?
* can you share a repro case?

[2015-10-26 19:35] carrbrpoa opened #667 "Error: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
Despite of [issue 455](https://github.com/Esri/esri-leaflet/issues/455), I'm still having similar problem.

I'm toggling between my available baselayers (with or without overlays) and sometimes this error comes:

![error_toggling_baselayers](https://cloud.githubusercontent.com/assets/10212618/10693881/dad72c38-7979-11e5-8341-af6b2156918c.png)

And the line pointed in ```BasemapLayer.js``` is:

[co

[2015-10-27 02:56] jgravois commented on #667
thanks for reporting.  i can't reproduce the error when targeting `master` and leaflet `1.0.0-beta.2`, so i'm tempted to just ask you to upgrade to `2.0.0-beta.6` if the chatter in the console bothers you.

[code]

[2015-10-27 11:41] carrbrpoa commented on #667
Hey @jgravois, that behaviour was actually breaking the code, not just bothering ;)
But ok, changing to last beta versions of everything (leaflet and esri-leaflet) worked.

Thanks

[2015-10-27 19:08] jgravois commented on #667
ok.  weird that i didn't see the same thing, but either way, good to know that you were able to upgrade conveniently.

[2015-10-27 23:19] patrickarlt commented on #667
@jgravois reopening this to ask @carrbrpoa a question.

@carrbrpoa What versions of Leaflet/Esri Leaflet were you using that produced the error? I just want to make sure we don't have an error on `master` or the 1.0.0 version right now.

[2015-10-27 23:29] patrickarlt commented on #643
It looks like this specifically has to do with https://github.com/Esri/esri-leaflet/blob/master/src/Layers/FeatureLayer/FeatureLayer.js#L164

We can probably modify this conditional to make it so it will still schedule remove if the layer is out of zoom range.

[2015-10-28 03:50] patrickarlt commented on #665
@jgravois assigning to you. Take a look at how I did `setWhere` https://github.com/Esri/esri-leaflet/blob/master/src/Layers/FeatureLayer/FeatureManager.js#L180-L225.

The problem we are going to have is that right now `setWhere` destroys all the existing layers and then re-adds everything which is why the popup is closing when @Greigrm calls `setWhere` with the same where. It is definitely non-tri

[2015-10-28 03:51] jgravois commented on #665
:+1:

[2015-10-28 03:52] patrickarlt commented on #657
@jgravois can you actually just remove this demo. We can think of a better one to show off `find`.

[2015-10-28 03:56] patrickarlt commented on #644
@peterneubauer it should pick up edits/additions if you pan far enough. But we can't figure out if a feature was deleted on the service and remove it from the map without a significant amount of work.

The alternative could be to keep an eye on https://github.com/Esri/esri-leaflet/issues/665 and then wrap `layer.refresh()` in a `setTimeout`

[2015-10-28 04:14] patrickarlt commented on #649
I would like to be able to avoid this race condition but I'm also having a hard time seeing how this would cause anyone to have an error in a real application. The only alternative I can see is to override `createTile` in addition to `getTileUrl`, maybe something like this will work:

[code]

[2015-10-28 04:14] patrickarlt commented on #649
Assigning myself to investigate this.

[2015-10-28 04:17] patrickarlt commented on #611
Since this is generally working now I'm going to close it. We can investigate reprojection performance in another issue.

[2015-10-28 04:17] #611 closed

[2015-10-28 04:31] patrickarlt commented on #622
@dodriscoll I'm going to just guess that you server is REALLY slow (your screenshot shows it taking 800-1000ms) to respond.

I would try incresing the `updateInterval` option on `dynamicMapLayer`

[code]

I think you are just overwhelming your server which makes subsequent call slow.

Going to close this for now. If problems persist please reopen with an example if possible.

[2015-10-28 04:31] #622 closed

[2015-10-28 04:37] patrickarlt commented on #483
I'm going to close this in favor of a new issue to audit all the spatial reference work for all layer types.

[2015-10-28 04:37] #483 closed

[2015-10-28 04:53] patrickarlt opened #668 "Spatial reference options audit"
I want to audit support for alternate spatial references now that there is a tagged release of Proj4Leaflet we can use.

This issue replaces https://github.com/Esri/esri-leaflet/issues/483 and https://github.com/Esri/esri-leaflet/issues/662 and should mean that `DynamicMapLayer` and `FeatureLayer` both function properly.

##### `DynamicMapLayer`
   * [ ] Remove `bboxSR` option. It should **always*

[2015-10-28 11:03] carrbrpoa commented on #667
Hey @patrickarlt. Sorry, I overwritted the plnkr. This is a *new plnkr* with the versions that produced the error (leaflet 0.7.7 or 0.7.5 and esri-leaflet 1.0.0):

http://plnkr.co/edit/saRmlbilSA6mAIDpgIXI?p=preview

[2015-10-28 11:50] jgravois commented on #667
thx @carrbrpoa, I'll figure out what's going on and get a patch in.

[2015-10-28 15:23] patrickarlt commented on #649
I've got this fixed locally as a part of https://github.com/Esri/esri-leaflet/issues/668 since there was also a bug in `TileLayer` with the LOD stuff anyway.

[2015-10-28 15:37] alaframboise commented on #661
If possible, gh-pages fix would be appreciated for demo purposes. Thanks!

[2015-10-28 16:02] kneemer commented on #661
@alaframboise I'll try again today.  I had made an attempt off the 1.0.0 release but those docs were even more out of date.  I need to figure out which commit to work from.

[2015-10-28 18:15] kneemer commented on #661
Found another broken link just now on http://esri.github.io/esri-leaflet/api-reference/layers/feature-layer.html the link for `create a Feature Service from a CSV or Shapefile` is no longer valid. @patrickarlt any ideas what I should change this to?

[2015-10-28 18:22] nikolaswise commented on #634
https://github.com/Esri/esri-leaflet/pull/669

[2015-10-28 18:22] #634 closed

[2015-10-28 18:22] kneemer commented on #661
I'm going to change it to https://doc.arcgis.com/en/arcgis-online/share-maps/publish-features.htm unless you have a better link.

[2015-10-28 19:21] patrickarlt commented on #662
@bestpika I'm making progress on this as a part of #668, but it is going to require a rewrite an a pretty decent amount of testing so it might be a few days.

[2015-10-28 20:32] patrickarlt commented on #668
So far so good. This image has a `FeatureLayer` a `DynamicMapLayer` and a `TiledMapLayer` all rendering in alignment with each other!

![esri_leaflet_debugging_sample](https://cloud.githubusercontent.com/assets/378557/10802130/41639354-7d78-11e5-97e8-34da828b83b6.png)

[2015-10-28 20:42] patrickarlt commented on #656
@jgravois http://hydrology.esri.com/arcgis/rest/services/WorldHydroReferenceOverlay/MapServer is pretty good... we could switch all the samples over to it...

[2015-10-28 20:54] patrickarlt commented on #656
[Federal User Community](https://www.arcgis.com/home/search.html?q=owner%3AFederal_User_Community&start=1) and [Esri Disaster Response](https://www.arcgis.com/home/search.html?q=owner%3AEsri_DisasterResponse_DM&start=1) also have some pretty good stuff.

[2015-10-28 21:01] SamDrummond commented on #643
Do you mind if I take a look at it?

[2015-10-28 21:09] patrickarlt commented on #643
@SamDrummond @rowanwins already took a look at it in https://github.com/Esri/esri-leaflet/pull/660 and I did a review https://github.com/Esri/esri-leaflet/pull/660#issuecomment-151680624 and figured out that this is more complex then it first appears.

You could certainly decide to tackle it alongside @rowanwins or separately if you want. @rowanwins wanted some time to take a look at it so I wont

[2015-10-28 21:29] rowanwins commented on #643
If you're keen @SamDrummond go for it, if you get stuck or can't find the time let me know and Im happy to take another look.
Cheers

[2015-10-28 21:32] patrickarlt commented on #668
Closing this to track in the PR https://github.com/Esri/esri-leaflet/pull/671

[2015-10-28 21:32] #668 closed

[2015-10-29 06:17] SamDrummond commented on #643
Cheers @rowanwins. I'll have a look at it and let you know how I get on.

[2015-10-29 09:14] rowanwins opened #672 "DynamicMapLayer crossing dateline"
Gday guys,

Im currently doing up a global map and am bringing in a DynamicMapLayer however Im running into the dateline issue where when zoomed out the layer suddenly stops.

L.tilelayer contains an option called [continousWorld](http://leafletjs.com/reference.html#tilelayer-continuousworld) which I think would address my issue however it looks like DynamicMapLayer only inherits the options from

[2015-10-29 10:18] rowanwins commented on #672
actually on second thoughts this might be being managed by the noWrap option on tilelayer
http://leafletjs.com/reference.html#tilelayer-nowrap

[2015-10-29 14:13] patrickarlt commented on #672
In a perfect world you would probably want this right?

![fullscreen_10_29_15__7_04_am](https://cloud.githubusercontent.com/assets/378557/10820676/b8181aa4-7e0b-11e5-9c47-f2e0b31208ae.png)

I'm not entirely sure a solution to this is possible in Leaflet given all the vector wrapping problems. If there was a good solution to this I would still have to manage multiple images for 1 bounding box which

[2015-10-29 23:59] rowanwins commented on #672
That's a shame @patrickarlt , I'd hoped that the dynamic layer acted more like a tile layer and so the wrapping would be easier but it doesn't sound like that's the case.

I'm currently working on a map with global data (shipping) hence the global interest.

Interestingly it looks like Open Layers is also struggling with this a bit. The [ol.source.TileArcGISRest](http://openlayers.org/en/v3.10.1/a

[2015-10-30 02:45] rowanwins commented on #672
Just as a quick followup for others who are interested.

Basically a dynamicMapLayer request is only returning a single image from ArcGIS Server. It seems like a limitation of  ArcGIS Server that it doesn't want to cross the dateline boundary, for example
http://sampleserver5.arcgisonline.com/arcgis/rest/services/SampleWorldCities/MapServer/export?bbox=9725235.982779548%2C3757032.8142729844%2C2588

[2015-10-30 16:54] patrickarlt commented on #667
Thanks @jgravois assigning to you.

[2015-10-30 17:14] jgravois commented on #663
done in #620

[2015-10-30 17:14] #663 closed

[2015-10-30 17:19] #658 closed

[2015-11-01 00:36] jgravois commented on #666
happy to help if you can provide more information.

[2015-11-01 00:36] #666 closed

[2015-11-01 01:13] jgravois commented on #667
i've got this problem fixed in a branch called [`container-error`](https://github.com/Esri/esri-leaflet/tree/container-error).  it makes sense to me that i can tag `1.0.1` as a patch directly from my commit without merging to master, and i assume that npm will fold the release in appropriately too but i'll wait a bit just in case anyone has any words of caution.

[2015-11-02 17:15] patrickarlt commented on #667
@jgravois yup. Release process should be.

1. Bump `version` in package.json
2. Update the changelog
3. Commit and push to `container-error`

I think right now only I have permissions to do an NPM release unless you also have access to the esri_dev account so I can take it from there once you do those steps.

[2015-11-02 17:18] jgravois commented on #667
i've got the keys.

while i was riding my bike to work this morning i thought of one more thing.  what do we do if/when we need to release 1.0.2?  if i delete my branch after tagging it will no longer be in the repository tree.  should we maintain a long running 1.x branch going forward?

[2015-11-02 17:48] jgravois commented on #667
just a note that since we aren't actually ever going to merge `1.x` bug fixes back into master, the update to the changelog has to happen in a commit in an entirely seperate Pull Request.

[2015-11-02 18:59] jgravois commented on #667
i've verified the problem is fixed in [1.0.1](https://github.com/Esri/esri-leaflet/releases/tag/v1.0.1).  @carrbrpoa thank you **so** much for taking the time to point out the problem and provide a repro case.

just as an FYI, it was necessary to run the command below to ensure that the patch i tagged isn't considered the 'latest' release on npm
[code]
in the future, i'll consider setting a differ

[2015-11-02 18:59] #667 closed

[2015-11-02 20:04] jgravois commented on #672
works just fine in the [jsapi](it looks like Open Layers is also struggling with this a bit) :smile:.

[2015-11-02 21:48] rowanwins commented on #672
Perhaps that's why the jsapi it takes 50MB to download ;)

[2015-11-03 15:41] patrickarlt commented on #672
I don't think it is this. The dynamic map layer sample in the JS API runs just fine across the date line with a single image http://developersdevext.arcgis.com/javascript/sandbox/sandbox.html?sample=map_dynamic

I'm going to reopen this for investigation.

[2015-11-03 22:24] rowanwins commented on #672
Gday @patrickarlt , unfortunantly I can't see the example link you sent (it looks like its locked so that its only available to esri employees). Thanks for taking another look into it, fingers crossed :)

[2015-11-03 23:18] patrickarlt commented on #672
@rowanwins whoops http://developers.arcgis.com/javascript/sandbox/sandbox.html?sample=map_dynamic is the correct link

[2015-11-03 23:41] rowanwins commented on #672
ah yes, I had looked at that yesterday but im not sure it is achieving what we'd expect either?

![Issue](https://www.dropbox.com/s/qwme79e7peor750/jsapi.jpg?dl=1)

I also came across these examples which I thought might be relevant but they dont seem to tackle the issue either.
https://developers.arcgis.com/javascript/jssamples/ed_wraparound.html
https://developers.arcgis.com/javascript/jssamples

[2015-11-04 04:33] jgravois commented on #672
^^ i fixed the link in my previous cheeky comment

[2015-11-04 08:52] rowanwins commented on #672
So looking at @jgravois sample above the image requst being sent is
[code]
It seems like the main critical thing is the custom wkt passed to the imageSR and bboxSR params... Unfortunately I dont know too much about how those wkt strings are structured. Also given that the user can set these as params I'm not how this could be tackled in an easy way.

Anyway thanks for getting us this far @patricka

[2015-11-04 15:42] carrbrpoa commented on #667
Thanks for the efforts guys :100:

[2015-11-04 16:50] patrickarlt commented on #672
@jgravois @rowanwins If you add `basemap: 'topo'` to the JS API example i previous posted it works wrapping around the dateline. I think it has to do with which spatial reference you use.

I'll keep investigating this when I have some time later.

[2015-11-05 18:09] jgravois commented on #657
28380f5

[2015-11-05 18:09] #657 closed

[2015-11-05 19:21] jgravois commented on #656
closed via 3bd3f56

hydrology service is sweet, but i only used it for display because its sublayers are obfuscated.

[2015-11-05 19:21] #656 closed

[2015-11-06 05:48] patrickarlt commented on #662
@bestpika this should be fixed in the next version. You will not need to set `bboxSR` or `imageSR` they will be set for your based on `map.options.crs.code`. Look for more docs in the changelog when we release the next version.

[2015-11-06 05:48] #662 closed

[2015-11-06 05:48] patrickarlt commented on #649
This will be resolved in the next version.

[2015-11-06 05:48] #649 closed

[2015-11-06 05:49] patrickarlt commented on #483
This will work in the next version! There are still some issues with Stereoscopic projections (Alaska, polar, ect...) but generally work very well.

[2015-11-06 10:54] w8r commented on #483
:+1:

[2015-11-06 17:55] patrickarlt opened #675 "Updates for the 2.0.0 doc."
@jgravois

* Fix plugin page css
* Add stubs for tutorials
* Fix heatmap examples for 2.0.0
* Add new demos for non-mercator projections

[2015-11-06 18:07] #675 closed

[2015-11-07 23:16] #661 closed

[2015-11-07 23:16] #558 closed

[2015-11-08 01:57] #626 closed

[2015-11-10 21:43] daniel-sabourin opened #681 "Adding a Feature Layer does not use published symbology, but Dynamic Layer does"
If I add a Feature Layer, the symbology that is published is not displayed. If I add the same service, but as a Dynamic Layer, the symbology is displayed fine. Is this a bug, or is it intended behavior?

(Ignore the random grey symbol in both the images.)

## Example as Feature Layer

[code]

![Feature Layer] (http://i.imgur.com/qq8c4M6.jpg)

## Example as Dynamic Layer

[code]

![Dynamic Map Laye

[2015-11-10 22:28] jgravois commented on #681
its 'as designed'.  the second example asks ArcGIS Server to render its own .png and send it along to the client.  if you'd like to work with vector graphics and maintain the symbology of the service itself, please check out our [renderers plugin](http://esri.github.io/esri-leaflet/examples/renderers-plugin.html).

[2015-11-10 23:33] daniel-sabourin commented on #681
Nice! Maybe I should have been browsing the documentation more. I got this working for my feature layers now.

Is there support for the clusteredFeatureLayer?

[2015-11-10 23:56] jgravois commented on #681
if it doesn't, i can't imagine it would be a monumental undertaking to get it working.  can you log an issue [here](https://github.com/esri/esri-leaflet-renderers) please?

[2015-11-10 23:59] kneemer commented on #681
There is not currently support but please do make an issue @daniel-sabourin.

[2015-11-11 00:03] #681 closed

[2015-11-11 16:13] dodriscoll commented on #622
thanks Patrick I changed the update interval which helped but it is still quite slow so I may look into that.

I have made the website available as it was required to be presented during our annual project conference so if you are interested you can see it on http://maps.marine.ie/infomarbathymetry.

Any feedback welcome!

[2015-11-11 18:40] jgravois commented on #622
looks really good!

* a little jarring that you can't pan west
* would be cool if the tools in top righthand corner were toggles (instead of displaying a second button when they're activated
* would be helpful if the ocean depth tooltip was clearer that you have to click on your own bathymetry overlay to get a result
* would be cool if activating a second tool automatically toggled the first off

[2015-11-11 23:34] stevehmig opened #682 "bindPopup example not correct"
On this page:
http://esri.github.io/esri-leaflet/api-reference/layers/feature-layer.html

The bindPopup example doesn't work:
featureLayer.bindPopup(function(features){
  return
    "Name: " + features.properties.NAME;
});

Putting the popup text on the same line as return does work. This works:
featureLayer.bindPopup(function(features){
  return "Name: " + features.properties.NAME;
});

[2015-11-13 16:59] jgravois commented on #682
thanks again for this.  we'll fix shortly

[2015-11-14 17:11] patrickarlt commented on #622
@dodriscoll App looks good. I'm going to close this since I think you can resolve a lot of this just by making your server respond faster.

[2015-11-19 16:41] brightrain commented on #631
:+1: Agree and would love to take this for a spin as soon as it's ready. Any word on compatibility?

[2015-11-19 22:18] jgravois commented on #682
fix in 2cefbc20c7d1f2fb552a892bbd38c3854c3e9b32 will be live next time we push to `gh-pages`

[2015-11-19 22:18] #682 closed

[2015-11-24 00:59] jgravois commented on #631
SpatialServer/Leaflet.MapboxVectorTile#45

[2015-11-30 17:05] molnar commented on #672
@rowanwins,  here is a working example I started working on last week.  I ran into the same issue you are having with data extending passing the date line.

https://jsfiddle.net/u9raxmcx/
Pan to the west.

Modifying EsriLeaflet.Layers.DynamicMapLayer _buildExportParams function should allow custom imageSR and bboxSR such as the jsapi does.

Before the the params are returned, this was added:

[2015-11-30 22:14] jgravois opened #684 "rewrite edit sample to use Leaflet.Editable"
https://github.com/leaflet/leaflet.editable

[2015-12-03 16:35] StephanGeorg commented on #631
Yes, support for the vector tiles in the Esri leaflet plugin would be great. Does anybody tried with [Hoverboard](https://github.com/devTristan/hoverboard)?

[2015-12-04 11:41] ronoel opened #686 "Tasks.IdentifyFeatures not returning GeoJson with ID"
The callback come GeoJSON without ID. But GeoJSON has all properties including objectid.

[2015-12-04 16:46] tc558 opened #687 "Supporting tile map service with different LoDs"
I'm trying to make a start on being able to use a tiled map service which has different levels of detail than the ArcGIS Online Schema and I'm running into issues that I can't quite fathom.

I've a tiled map service which shares the same schema as an ArcGIS Online service, except that the scales at the different LoDs are different.

I've updated the resolutions in the TileMapLayer.js to reflect th

[2015-12-04 17:06] jgravois commented on #687
in general i'd recommend taking a hard look at whether or not you can adapt your *corporate* standard to get more in line with the universal web mercator standard.

that being said, you should be able to accomplish this without modifying the source of esri leaflet with [Proj4Leaflet](http://kartena.github.io/Proj4Leaflet/).  have you seen [this sample](http://esri.github.io/esri-leaflet/examples/n

[2015-12-04 20:52] jgravois opened #688 "create a 'make your first map' tutorial"
show people how to mashup more than one plugin, etc..
maybe include some text that draws parallels/differentiates with the jsapi

[2015-12-04 21:25] tc558 commented on #687
Thanks John - the corporate standard is to use Web Mercator, it just that the caches are produced with more rounded scales than the ArcGIS Online scheme.

For example, the first 6 scales used are:

1:500,000,000
1:250,000,000
1:130,000,000
1:125,000,000
1:64,000,000
1:32,000,000
etc.

I have the corresponding pixel resolutions and was using them as a direct replacement for the resolutions within t

[2015-12-04 21:29] jgravois commented on #687
you can find the LODs (and other metadata) from our world streetmap [here](http://services.arcgisonline.com/arcgis/rest/services/World_Street_Map/MapServer?f=pjson).

[2015-12-04 21:34] tc558 commented on #687
Ideal - thanks for the pointer.

Will update the thread on progress next week.

[2015-12-04 23:39] jgravois commented on #686
right now we have a little logic written into [`responseToFeatureCollection`](https://github.com/Esri/esri-leaflet/blob/master/src/Util.js#L366-L368) to parse ArcGIS Server responses looking for metadata about the layer to glean the name of the `id` field.  for [query requests](http://sampleserver6.arcgisonline.com/arcgis/rest/services/Census/MapServer/3/query?where=&text=&objectIds=&time=&geometr

[2015-12-10 00:11] slead opened #690 "Some samples are failing at https://esri.github.io/esri-leaflet due to mixed content"
This is just an FYI - some samples are failing on the esri-leaflet page, eg https://esri.github.io/esri-leaflet/examples/simple-dynamic-map-layer.html

`Mixed Content: The page at 'https://esri.github.io/esri-leaflet/examples/simple-dynamic-map-layer.html' was loaded over HTTPS, but requested an insecure script 'http://maps1.arcgisonline.com/ArcGIS/rest/services/USA_Federal_Lands/MapSer…e&bboxSR=3

[2015-12-10 01:14] bsnider opened #691 "Toggling a feature layer on/off quickly causes the visible portion of the layer to remain on the map"
See this sample: http://jsfiddle.net/nbn1vgd8/4/

1. Quickly click the addLayer/removeLayer button twice.
2. Zoom out.
3. Note that the layer should be totally removed from the map, but some counties still display.
4. Contrast this with this sample using geojson: http://jsfiddle.net/z3nmxrp3/

[2015-12-14 00:12] jgravois commented on #690
because we can't guarantee that all the sample services we use will be available over https, and because we aren't ever asking users for credentials, part of me thinks we should just force redirect everyone to [http](https://konklone.com/post/github-pages-now-sorta-supports-https-so-use-it).

[2015-12-15 22:46] jgravois commented on #690
we've already replaced that sample, but i went ahead just know and made sure we load the new one explicitly using `https`.  thanks for reporting @slead!

[2015-12-15 22:48] #690 closed

[2015-12-16 18:02] bendalton commented on #631
+1 I fully support this!

[2015-12-16 19:55] jgravois commented on #687
@tc558 can we provide any additional assistance?

[2015-12-16 20:12] jgravois commented on #691
this issue [isn't reproducible](http://jsfiddle.net/m976m4wa/) in Leaflet 1.0.0-beta.2 / Esri Leaflet 2.0.0-beta.6, but the repro case does result in a nasty uncaught console error.

![screenshot 2015-12-16 12 05 37](https://cloud.githubusercontent.com/assets/3011734/11852673/2493d008-a3ee-11e5-9dc8-246350250148.png)

this is because internally in the API we call [`FeatureManager._map.getZoom()`](

[2015-12-25 20:59] patrickarlt commented on #672
@molnar I've been neck deep in other projects for awhile. Could you update your fiddle to work again?

[2015-12-25 21:01] patrickarlt commented on #686
@jgravois case insensitive regex sounds like a good bet. That should cover most known cases. Assigning to you.

[2015-12-25 21:02] patrickarlt commented on #691
@jgravois I'll take a look at this.

[2015-12-25 21:04] patrickarlt commented on #687
@tc558 I'm going to close this since there is no response.

[2015-12-25 21:04] #687 closed

[2015-12-26 00:22] patrickarlt commented on #691
@jgravois looks like this is a pre 2.0 issue. Maybe it is related to https://github.com/Esri/esri-leaflet/pull/632?

[2015-12-26 21:04] #643 closed

[2015-12-28 20:22] jgravois opened #700 "should we establish a timeline to drop bower support?"
most of bower's original maintainers have moved on, but the project has undergone a rally for funded support lately so proclamations that it is [dead](https://twitter.com/nachocoloma/status/663622545162280960) seem a bit dramatic to me.

i don't use bower, so from my point of view, keeping things in order here to ensure other people can is a [small pain](https://twitter.com/tmcw/status/58768734323

[2015-12-28 22:57] jgravois opened #703 "2.0.0-beta.7 release steps"
- [x] wrap up breaking out new dependencies #652
- [X] tag [`1.0.1`](https://github.com/patrickarlt/leaflet-virtual-grid/issues/8) of leaflet-virtual-grid on npm and bump dependency here 4cb00dc
- [X] bump changelog aa712e1
- [x] bump `package.json` and `bower.json` version numbers
- [x] tag `2.0.0-beta.7` on github and publish to npm
- [x] confirm release made it to [jsdelivr](http://www.jsdelivr

[2015-12-29 02:37] PatrickKing opened #705 "Adding a FeatureLayer with an unresponsive service leads to an error when the layer is removed (1.0.0)"
My app is dealing with some public services that may or may not respond (or even exist) when we add layers for them. After some debugging, it looks like an issue with FeatureGrid, where `onAdd` is never called if the service is unresponsive. When the layer is removed, `onRemove` accesses an [undefined `_map`](https://github.com/Esri/esri-leaflet/blob/v1.0.0/src/Layers/FeatureLayer/FeatureGrid.js#L

[2015-12-29 17:44] bbinckes opened #706 "disableClientCache"
This was an issue that Jeff G. added 12/22/2015 "How do you disable client caching in L.esri.Layers.DynamicMapLayer?"

The actual issue was related to the QueryTask on a FeatureLayer caching images.

[2015-12-29 17:50] jgravois commented on #705
if you're dealing with services which may or may not exist, why not send along your own [metadata](http://esri.github.io/esri-leaflet/api-reference/services/service.html) request and confirming a valid response **before** you try and add the layer to the map?

[code]

[2015-12-29 18:20] jgravois commented on #706
my reply to Jeff G. can be found [here](https://geonet.esri.com/thread/170100)

QueryTasks/FeatureLayers don't return images, but rather JSON features so it'd be really helpful if you are able to provide additional clarification and/or a code snippet to explain in more detail.

[2015-12-29 18:30] bbinckes commented on #706
Continued....  Sorry I sent this prematurely.
Background:  The SDE data source that is backing this service is updated every 2 minutes so we need a mechanism to disable cache on the Query.

I have updated esri leaflet and tested out the changes below which provides the behavior we are looking for but not sure if this is the correct way to approach this.

Added options to the instantiation of a Fea

[2015-12-29 18:42] jgravois commented on #706
that sounds like what i was suggesting.

if you'd like to help us get the functionality into the API for others to use, i'd be happy to review a pull request.  extreme bonus points if you can include relevant documentation updates and some corresponding test coverage as well.

[2015-12-29 23:12] jgravois commented on #684
looks like this will have to wait for a tagged release too.

[2015-12-30 17:58] jgravois commented on #652
do you want me to knock out de-coupling `BinarySearchIndex` in preparation for releasing 2.0.0-beta.7?  i can also kick the can down the road and do it afterward.

[2015-12-30 18:14] patrickarlt commented on #705
@PatrickKing Are you using the esri-leaflet-renders plugin? Esri Leaflet just handles invalid service URLs with 404 codes on the queries so this might be better posted under https://github.com/Esri/esri-leaflet-renderers if you are using it. Otherwise without a reproduction case I cant do anything about this.

If you want to validate the layer before adding it the code @jgravois gave will work.

[2015-12-30 18:14] #705 closed

[2015-12-30 18:54] jgravois commented on #652
beat me to it.

[2015-12-30 18:54] #652 closed

[2015-12-30 19:16] jgravois commented on #691
based on changes introduced in #695, the problem i noted in my first reply within this thread is now completely resolved in `master`.

i'll leave this issue open in case we decide to backport a fix to `1.0.x`

[2015-12-31 00:36] #642 closed

[2015-12-31 00:37] patrickarlt commented on #691
@jgravois any chance you could backport to `1.0.x`? It is a verified bug and we did promise to fix bugs.

[2015-12-31 00:55] jgravois opened #712 "not able to step through sourcemapped breakpoints"
is everyone else unable to set/hit breakpoints in the source mapped API code that is now transpiled from ES6?

i know i used to, but now i get no breakpoints at all in Chrome `47.0.2526` or Firebug `33.0.2` and the breakpoints i get in Safari `9.0.2` are completely screwed up.

doesn't matter whether i'm using `http-server` or a 'real' web server.
happening on two different computers...

[2015-12-31 17:01] jgravois commented on #703
is there anything you want me to hold back on before tagging the release and pushing the updated website @patrickarlt?

[2015-12-31 19:40] pmacMaps commented on #688
Do you mean more than one ESRI-Leaflet plugin, or using ESRI-Leaflet plugins with other ESRI plugins?

Also, are you looking for contributors for this?  I've transitioned some embedded AGOL <iframe> maps to Leaflet maps, so I may be able to assist with this.

[2015-12-31 20:22] jgravois commented on #688
anything really.  thanks for the offer!  i just want to demonstrate the pattern that leaflet provides a lightweight core and requires its own script tag and `.css`, that esri-leaflet provides a bit more (and requires its own `.js`) and that other plugins follow the same pattern.

the place to stick this is in the new 'tutorials' section which has been stubbed out in our updated website, (in this r

[2015-12-31 22:23] patrickarlt commented on #703
@jgravois no go for it.

[2016-01-01 01:49] jgravois commented on #703
for some reason, even though npmjs.org shows `2.0.0-beta.7` as the latest version, running `npm install esri-leaflet` manually is lays down `1.0.2` on my machine.

when i published `1.0.2` a few minutes before, i intentionally specified `npm publish --tags old` so that it wouldn't be tagged `latest`.

so strange.

[2016-01-01 17:05] patrickarlt commented on #700
As much as a I would love drop bower support i think we need to keep it around. A lot of people requested it initially and that is why it is there. I agree with the reasoning but I think planning is a little premature.

[2016-01-01 20:10] jgravois opened #717 "make API reference even more explicit about the need to load extra script tags for plugins"
ie: the code snippets at the bottom should include something like below

[code]
and a link to a working example pointing out that additional source is present.

also, the 'layers' section of the [landing page](http://esri.github.io/esri-leaflet/api-reference/) needs...

* L.esri.**Cluster**.ClusteredFeatureLayer
* L.esri.**Heat**.HeatmapFeatureLayer

(done via Esri/esri-leaflet-doc#2)

[2016-01-02 00:16] jgravois commented on #691
the fix is [live](http://jsfiddle.net/nbn1vgd8/9/) in `1.0.2`.  let me know if you have any questions @bsnider.

[2016-01-02 00:16] #691 closed

[2016-01-02 00:17] jgravois commented on #700
thats good enough for me.  i'll break it up again in 2017 :smile:

[2016-01-02 00:17] #700 closed

[2016-01-03 19:03] jgravois commented on #370
now that we finally have the plugin doc in the esri leaflet website, i refreshed my previous work of breaking it out into its own seperate repo.  if you still want to do this, i'll ask the admins to move it into the [esri](http://github.com/Esri) organization after everyone's happy.

https://github.com/jgravois/esri-leaflet-doc
http://jgravois.github.io/esri-leaflet-doc/

should be dead simple.  t

[2016-01-04 20:11] jgravois commented on #717
the cluster card on the new [plugins](http://esri.github.io/esri-leaflet/plugins/) page doesn't need a disclaimer anymore.

[2016-01-04 20:33] jgravois opened #719 "L.esri.featureLayer is firing duplicate simultaneous queries"
#### STR:

1. launch [this sample](http://esri.github.io/esri-leaflet/examples/simple-feature-layer.html)
2. click the '+' button to zoom in once (6 query requests will be issued)
3. click the '+' button to zoom in again

12 requests are issued, 6 of which have identical query geometry.

![screenshot 2016-01-04 12 31 43](https://cloud.githubusercontent.com/assets/3011734/12099728/29c00de4-b2df-11e

[2016-01-06 21:43] PatrickKing commented on #705
Thanks for the pointers! Testing for a metadata response before adding the layer to the map has reliably solved this issue for me. I am using esri-leaflet-renderers, though I didn't see how it was responsible for the problem.

One small remaining gripe, the metadata request has no distinct event handler for timeouts. I guess I will use a `window.setTimeout` callback myself.

[2016-01-06 22:59] rowanwins commented on #712
Gday @jgravois I tried to take a look at this but I discovered that the current npm install isn't working on  windows. I'm having a little bit of trouble working out what exactly is breaking, it looks like something to do with karma.... I'll try to do some digging and see if I can actually report anything useful :)

Cheers

[2016-01-07 00:31] rowanwins commented on #712
Ok so I've narrowed things down to the build script and it seems to be failing in the use of rollup, I get `[TypeError: Cannot read property '0' of null]`

There is a [similar issue](https://github.com/rollup/rollup/issues/119) in the rollup repo which seems to relate to windows and filepaths. I've previously run into issues with node and windows filepaths and have used the [filepath module](https

[2016-01-07 00:38] kerryhalligan opened #720 "OAuth sample throws Invalid redirect_uri error"
STR:
1. Open https://esri.github.io/esri-leaflet/examples/arcgis-online-auth.html
2. Click 'Sign In'
3. Window opens with message stating "Invalid redirect_uri error"

[2016-01-07 17:41] #720 closed

[2016-01-07 18:38] molnar commented on #672
@patrickarlt, sorry about that, I will get it up and running this evening

[2016-01-07 19:37] jgravois commented on #720
thanks for taking the time to report @kerryhalligan!  the problem is fixed in production now.

[2016-01-07 19:40] jgravois commented on #712
thanks @rowanwins.  can you log a new issue if you are seeing problems when running `npm install esri-leaflet@2.0.0-beta.7`on windows so we can make sure to get them sorted out?

[2016-01-08 01:14] molnar commented on #672
Here is an updated fiddle
https://jsfiddle.net/u9raxmcx/1/

[2016-01-08 20:43] jgravois opened #722 "'npm run build' fails on windows"
mentioned [here](https://github.com/Esri/esri-leaflet/issues/712#issuecomment-169508877) and confirmed on my own machine.

[2016-01-10 09:37] rowanwins commented on #722
Gday @jgravois

So the first fail when i run 'npm run build' that i hit is `Failed at the esri-leaflet@2.0.0-beta.7 prebuild script 'mkdirp dist'.`  I've tried deleting the line `"prebuild": "mkdirp dist",` as the dist folder is already present when I check out the repo.

I then tried to rerun things but I get `[TypeError: Cannot read property '0' of null]` which seems to be related to the rollup

[2016-01-10 15:10] jgravois commented on #722
are you describing the behavior when building from `master` or my proposed solution in #723?

[2016-01-10 21:58] rowanwins commented on #722
Gday @jgravois
I didn't see your solution in #723 earlier but have just given it a whirl and it works! So yep that seems to have done the trick, will now get back to the original task of checking those breakpoints :)

[2016-01-10 22:13] rowanwins commented on #712
Ok so back to the breakpoint issue, yep Im having this happen as well. In chrome I seem to be seeing the source mapped files but breakpoints aren't being hit

![Files shown](https://www.dropbox.com/s/cxqlpzjr6lfbrzv/files.jpg?dl=1)

[2016-01-11 10:35] rntdrts opened #724 "Dynamic Map Layer on windows edge"
I have some problems on browser edge with dynamic map layers, every time there's a request for this service it returns a json with the image associated to the map requested, after that on the other browsers the map is applied to the div, but on edge there's no change.

It can be something on my side, but on other browsers it acts like it is supposed to. Can anyone try it and see if it can be repli

[2016-01-11 11:18] #724 closed

[2016-01-11 17:16] jgravois commented on #724
the service is a tad sluggish at times, but i'm having no trouble loading the sample below.
http://esri.github.io/esri-leaflet/examples/simple-dynamic-map-layer.html

did you close this issue because you're no longer having problems?

[2016-01-11 18:03] #722 closed

[2016-01-11 18:04] jgravois commented on #722
thanks for confirming @rowanwins.  i appreciate the help.

[2016-01-12 01:09] jgravois commented on #717
unrelated, but the [dependencies](https://github.com/Esri/esri-leaflet#dependencies) section of the main README needs bumped too.

[2016-01-12 09:23] rntdrts commented on #724
yes, the problem i had, was in a closed and with very specific environment. When i got my hands on a windows OS without this restrictions i was able to realize that this wasn't a issue.

Thanks.

[2016-01-13 17:47] #370 closed

[2016-01-13 19:05] jgravois opened #726 "decode LERC tiles from Esri ImageServer to draw in Leaflet"
investigate how much work would be necessary to refactor/extend `imageMapLayer` to take advantage of tile caches when they are present.

http://elevation3d.arcgis.com/arcgis/rest/services/WorldElevation3D/Terrain3D/ImageServer

in the case of Esri's recent work to open source [LERC](https://github.com/esri/lerc), it would be really cool if we could download/[decode](https://github.com/Esri/lerc/bl

[2016-01-13 19:43] pmacMaps opened #727 "Basemap Layer does not work with Leaflet Control Layers"
I'm not sure if this is so much of an issue as much as something to inform users about.  The Leaflet <a href="http://leafletjs.com/reference.html#control-layers">L.control.layers()</a> base map selector does not work when using a <a href="http://esri.github.io/esri-leaflet/api-reference/layers/basemap-layer.html">L.esri.basemapLayer()</a> as the alternate basemap.

However, the Control Layers does

[2016-01-13 19:50] jgravois commented on #727
we pushed [1.0.2](https://github.com/Esri/esri-leaflet/blob/master/CHANGELOG.md#102) a couple days ago too.

[2016-01-14 19:27] nathanhilbert opened #728 "FeatureLayerService timeout option"
I'm hitting some issues with 2.0.0-beta.7 of featurelayer requests taking up to 5 seconds for certain areas, then returning a 500 from ArcGIS Online.  This is definitely a problem with ArcGIS Online, but I was thinking a workaround for similar slow featurelayerservices would be useful.

There are two issues that I have seen:

1. I have a featureservice that has a "where" set.  The user clicks on a

[2016-01-14 20:05] jgravois commented on #728
i'm hopeful that when we sort out #719 you'll see a performance improvement, but either way, it sounds like a good idea to me t

what do you mean by 'option'?  my gut reaction to this is that we should ensure all pending requests are aborted when [`featureLayer.setWhere()`](https://github.com/Esri/esri-leaflet/blob/master/src/Layers/FeatureLayer/FeatureManager.js#L188) is called automatically (for

[2016-01-14 21:38] nathanhilbert commented on #728
Thanks for the response.
I was thinking more an edit [here](https://github.com/Esri/esri-leaflet/blob/master/src/Request.js#L78) would add
[code]

From the API, maybe something like this
[code]

[2016-01-14 22:55] thezelus opened #729 "Opacity for FeatureLayer and TiledMapLayer"
Hi,

I am trying to implement a functionality to change layer opacity for ``FeatureLayer`` and ``TiledMapLayer`` but it seems like that property only exists for ``ImageMapLayer`` and ``DynamicMapLayer``. This property exists in [Javascript API] (https://developers.arcgis.com/javascript/jsapi/featurelayer-amd.html#opacity) from Esri. Is there a plan to implement this functionality in future? Furthe

[2016-01-14 23:02] jgravois commented on #729
since `L.esri.FeatureLayer` extends `L.GeoJson`, you can already apply opacity to both [markers](http://leafletjs.com/reference.html#marker) and [paths](http://leafletjs.com/reference.html#path-options) using existing options.

since `L.esri.TiledMapLayer` and `L.esri.BasemapLayer` extend [`L.TileLayer`](http://leafletjs.com/reference.html#tilelayer-l.tilelayer), you can use its existing `opacity`

[2016-01-15 00:10] daniel-sabourin commented on #729
I ran into a similar issue with my project.

I'm using esri-leaflet with esri-leaflet-renderers. This could be an esri-leaflet-renderers issue. What I would like is a way to change the opacity of the entire layer without reseting the style esri-leaflet-renderers applied to display the layer with the symbology it was published with.

# No Opacity
![](http://imgur.com/hL3X2x1.png)
[JSFiddle](http://

[2016-01-15 03:16] jgravois commented on #729
@daniel-sabourin what you're seeing is expected because we haven't tagged a release of esri-leaflet-renderers since we added support for mixing in style options in layer constructors for polyline/polygon feature services (see Esri/esri-leaflet-renderers#100)

i'll tag/release 2.0.1 soon and we can make sure its working the way it should be.

cc/ @kneemer

[2016-01-15 03:25] daniel-sabourin commented on #729
@jgravois @kneemer thank you both for your quick reply. Just a heads up, we're working off leaflet 0.7.7

[2016-01-15 17:38] svancise opened #731 "Adding a dynamicMapLayer prevents popups on geojson layers"
Hello,

I've looked around for a way around this but have not been able to find or figure anything out.

I currently have a map with a geojson layer that has a popup when clicked. When I add a dynamic layer with a bindPopup function, the geojson's click/popup does not fire anymore. It seems the event is not propagating to the geojson layer. I've put together a [jsFidle](http://jsfiddle.net/z05jty7

[2016-01-15 18:33] svancise commented on #731
Of course, as soon as I posted this I figured it out. I applied this [fix](http://gis.stackexchange.com/questions/116065/how-to-let-leaflet-layer-events-to-propagate-to-layer-below) to the other layers which seems to fix the issue. Sorry for the pointless issue!

[2016-01-15 18:33] #731 closed

[2016-01-16 00:30] patrickarlt commented on #719
It looks like this an upstream bug in Leaflet https://github.com/Leaflet/Leaflet/issues/4023. I'm going to see if I can rewrite part of VirtualGrid to not rely on `zoomend` to fix this.

[2016-01-16 06:58] patrickarlt commented on #728
A long time ago I tried to implement aborting all pending requests when creating new requests either through panning, zooming, `setWhere` or `setTimeRange`. It worked on and aborting JSONP requests was wonky but it also caused most of the tests to inexplicably fail so I abandoned it.

I always wanted to revisit the idea though so maybe it is time to experiment with it again.

That is because you c

[2016-01-16 15:35] patrickarlt commented on #672
Thanks for making that demo work again @molnar. I'm going to look into this some more and see if I can work this into the core library.

[2016-01-17 16:25] patrickarlt commented on #712
I'm wondering if this is just a result of how I am building the source maps with rollup + uglifyjs. The best thing to do would probally be to upgrade to the latest version of Rollup with the uglifyjs plugin rather then do it by hand.

If that doesn't fix anything then this needs deeper investigation.

[2016-01-17 17:32] patrickarlt opened #733 "Refactor build process"
I increasingly don't like shipping a [custom build script](https://github.com/Esri/esri-leaflet/blob/master/scripts/build.js) with every Esri Leaflet repo. It would be able to use https://github.com/Esri/esri-leaflet-bundler to bundle leaflet and all its plugins. Since everything is Rollup-based I don't think this will be too hard.

[2016-01-18 04:03] rowanwins commented on #712
Ok so I've just upgraded uglify-js to v2.6.1 (the latest) and that seems to work in generating correctly working source mapped files.

Updating rollup to the latest seems to cause some issues
[code]

So to confirm my config which is working with source mapped files
[code]

Cheers
Rowan

[2016-01-18 22:14] patrickarlt commented on #712
@rowanwins I still can't seem to hit these breakpoints in Chrome. Firefox works fine and my config has has had `uglify@2.6.1` from the start.

The best I have been able to achieve is to update to `rollup@0.24.x` which requires some changes and not to uglify. This produces an uncompressed file which works in both Chrome and Firefox. If I minify the file trying to set a breakpoint actually sets a br

[2016-01-18 22:26] rowanwins commented on #712
I'm chalking this down as the first win for windows in the epic windows vs mac battle :)

I've been testing in chrome (Version 47.0.2526.111) with no worries and firefox also seems to work fine.

[2016-01-18 22:53] #719 closed

[2016-01-19 01:51] patrickarlt commented on #712
Chrome has a quite a few issues with souremaps and breakpoints that might explain this. Given that I can only reproduce in Chrome on a Mac I'm closing this.

* https://code.google.com/p/chromium/issues/detail?id=451015
* https://code.google.com/p/chromium/issues/detail?id=459499
* https://code.google.com/p/chromium/issues/detail?id=270917

[2016-01-19 19:06] jgravois commented on #717
moved to Esri/esri-leaflet-doc#7

[2016-01-19 19:06] #717 closed

[2016-01-19 19:24] jgravois commented on #712
@patrickarlt can you share a code snippet of the changes you had to make to bump rollup to `0.24.x` (or submit a PR) please?  right now i still can't debug anywhere.

[2016-01-19 20:45] patrickarlt commented on #733
This should also include:

* Upgrade to `rollup@latest`
* Utilize rollup plugins as much as possible
* Add a `--debug` build with unminified code and sourcemaps to resolve https://github.com/Esri/esri-leaflet/issues/712

[2016-01-19 20:46] patrickarlt commented on #712
@jgravois I'm going to do it as part of https://github.com/Esri/esri-leaflet/issues/733. There isn't point in overhauling the process in one repo when I really want to upgrade it everywhere.

[2016-01-19 20:46] #712 closed

[2016-01-19 20:55] patrickarlt opened #734 "Refactor module bundling and packaging process"
While the experiments in shipping ES 6 code for various system has been a pretty big success it is proving too difficult to maintain and given recent changes to babel (and all its implementations) I have been unable to test it shipping ES 6 modules still works with babelify, ect...

The approaches explored in this repo do work, but it is ultimately much simpler to just ship the following:

* Compi

[2016-01-19 21:42] rowanwins commented on #733
Hey @patrickarlt  let me know if you need someone to test on a windows machine

[2016-01-20 14:51] nathanhilbert commented on #728
Closed with #730

[2016-01-20 14:51] #728 closed

[2016-01-20 16:09] jgravois commented on #729
@daniel-sabourin i tagged version [`2.0.1`](https://github.com/Esri/esri-leaflet-renderers/releases/tag/v2.0.1) of esri leaflet renderers, which is compatible with Leaflet 1.0 beta.2 and introduces support for mixing in style options in the feature layer constructor with what is already defined for the service.

we weren't able to backport the new feature to a `1.x` release (which could be used wi

[2016-01-20 16:09] #729 closed

[2016-01-20 18:03] jgravois commented on #703
not sure how, but the problem has mysteriously disappeared.  must have been the :smiling_imp:s

[2016-01-20 18:03] #703 closed

[2016-01-22 17:52] jgravois commented on #726
more info in Esri/lerc#4

[2016-01-27 15:49] Nedlinin opened #735 "Tile Server max zoom incorrectly detected?"
I'll be the first to admit I'm a newbie to ArcGIS and all so I may be overlooking something but I seem to be having an issue with Leaflet/Esri-Leaflet detecting the max support zoomed level.

From the MapServer being served from the ArcGIS server.

    Tile Info:
    Height: 256
    Width: 256
    DPI: 96
    Levels of Detail: 20

The levels go from 0 to 19.

I've got my map setup like so:

		cons

[2016-01-27 16:02] Nedlinin commented on #735
Bah.

Figured it out :+1:

Turns out TileLayer's default maxZoom is 18.  One of my test cases was to initialize the map with maxZoom: 19 because of this line in the docs:

    maxZoom	Number	null	Maximum zoom level of the map. This overrides any maxZoom set on map layers.

Turns out I've got to set the maxZoom on the TileMapLayer specifically even though the docs make it sound like it'll override

[2016-01-27 16:02] #735 closed

[2016-01-27 22:37] evanthoms opened #736 "Include USA Topo Maps in L.esri.basemapLayer"
Title pretty much says it all. How about a shortcut string to reference the USA Topo Maps basemap in L.esri.basemapLayer? To be clear:

http://usgs.maps.arcgis.com/home/item.html?id=931d892ac7a843d7ba29d085e0433465

New to esri-leaflet as of today and I am liking it!

[2016-01-28 15:31] ATran31 opened #737 "L.esri.mapService is not a function"
When attempting to use L.esri.mapService() I am getting TypeError: L.esri.mapService is not a function.
This is running against a secured service and I have it inside the authentication callback.

        var ACPQuery  = L.esri.mapService({url: serviceURL, token: tk}).query()
          .layer(0)
          .where("OBJECTID IS NOT NULL")
          .run(function (error, featureCollection, response){

[2016-01-28 16:54] patrickarlt commented on #737
@ATran31 can you please include the following in your issue:
* Browser
* Browser version
* Leaflet version `L.version`
* Esri Leaflet version `L.esri.VERSION`
* Bundling tool (webpack, browserify, Require JS) if any

[2016-01-28 17:08] ATran31 commented on #737
@patrickarlt I am using the following:
Browsers: Firefox 43.0.4, Chrome 47.0.2526.111
Leaflet 0.7.3
Esri Leaflet 1.0.0
Bundling tool - None

[2016-01-28 17:32] kneemer commented on #737
Hi @ATran31, it looks like you are using the Esri Leaflet 2.0.x syntax that is specified in the current docs.  The older syntax can be found [here](https://github.com/Esri/esri-leaflet/blob/v1.0.0/site/source/pages/api-reference/services/map-service.md).

Let us know if you are still having issues using the older syntax.

[2016-01-28 17:44] ATran31 commented on #737
That did it. Thank you!

[2016-01-28 20:14] #737 closed

[2016-01-29 21:13] patrickarlt commented on #631
@bendalton @brightrain  an initial proof-of-concept if available at https://github.com/Esri/esri-leaflet-vector-basemap-poc.

I hope to have a full library available by early April. But the proof of concept could help you bring it to your apps earlier if you want.

[2016-01-29 21:14] patrickarlt commented on #736
@jgravois this seems like a great first time contributor issue if you could take the time to write up how to do it.

[2016-01-29 21:35] brightrain commented on #631
:trophy:

[2016-01-30 00:38] daniel-sabourin opened #738 "How to optimize for performance?"
Hi,

I'm writing an application that allows for users to add their own feature layers to a map. As such, the application has to be performant under any condition. Some layers might have 100,000+ features. What I've noticed is that the map panning can get laggy/choppy/unresponsive under intense conditions. Sometimes the browser tab will just crash. What are some optimizations that I can do to make

[2016-01-31 07:31] rhys-d opened #739 "z-Index problem with map services"
I'm using Esri Leaflet to add several map services to my Leaflet map via a Layer Group which is already added to my Leaflet Map e.g. L.esri.dynamicMapLayer({ url: ..../MapServer }).addTo(myLayerGroup);

When I add the layers to the Layer Group, they do not render in the correct order.  If I add map service 1 first, then map service 2 second, I expect to see map service 2 on top of map service 1 on

[2016-01-31 09:42] rowanwins commented on #738
Gday @daniel-sabourin

Bringing a layer like tax parcels in as a feature layer for a large area is probably not the best idea. A feature layer means transferring **all** the data (eg every single vertice of each polygon in the map extent etc).

Rather than bringing in your large layer as a feature layer you'd be better of trying to use it as a [Dynamic Map Layer](http://esri.github.io/esri-leaflet

[2016-02-01 17:44] daniel-sabourin commented on #738
Hi @rowanwins

Displaying the layer as a Dynamic Map Layer is only possible when the service is a MapServer service, correct? For example, if I wanted to display [this layer](http://gis-gfw.wri.org/arcgis/rest/services/local_projections/wgs_1984/MapServer/19), I would do the following

[code]

However, for layers published as a [FeatureServer](https://services1.arcgis.com/PRoAPGnMSUqvTrzq/arcgis/r

[2016-02-01 23:01] rowanwins commented on #738
Gday @daniel-sabourin

There was a [good writeup](https://github.com/Esri/esri-leaflet/issues/403) in the past here from the maintainers about the differences between feature layers and dynamic layers.

Short answer though is yes a url will containing 'MapServer' will have the ability to be a dynamic layer.

Your other option when working with feature layers is to set a [minZoom](http://esri.githu

[2016-02-01 23:18] daniel-sabourin commented on #738
Yes, thank you @rowanwins. It certainly is helping.

Since I'm allowing the user to add their own services to the map, I'll have to take all situations into account.

If the service is going to be slow, and it supports adding it as a DynamicLayer (/MapServer), I'll add it as a DynamicLayer.

If the service is going to be slow, but it doesn't support DynamicLayer (/FeatureServer), I'll do the simpl

[2016-02-02 17:43] patrickarlt commented on #738
@daniel-sabourin I'm sorry it look me so long to respond to this but the points @rowanwins made above are all valid. Loading ~250k polygons is REALLY rough on the browser. The ArcGIS API for JavaScript also falls down loading this feature service http://www.arcgis.com/home/webmap/viewer.html?url=https://services1.arcgis.com/PRoAPGnMSUqvTrzq/ArcGIS/rest/services/TaxParcel/FeatureServer/0&source=sd.

[2016-02-02 17:54] patrickarlt commented on #739
If you need explicit layer ordering we have an example using the upcoming Esri Leaflet 2.0 release. http://esri.github.io/esri-leaflet/examples/layer-ordering.html Just create a pane for each layer and pass the name of the pane as the `pane` option on each layer. By default panes or ordered in the same order they are created.

[2016-02-02 17:54] #739 closed

[2016-02-02 17:54] patrickarlt commented on #738
@daniel-sabourin I'm closing this. Please reopen if you have any additional questions.

[2016-02-02 17:54] #738 closed

[2016-02-02 18:52] jgravois commented on #726
work in progress [here](https://github.com/jgravois/lerc-leaflet) using [`L.tileLayer.canvas`](https://github.com/jgravois/lerc-leaflet/blob/gh-pages/index.html#L59-L62), so its pretty much straight up FOSS!

[2016-02-03 18:56] jgravois commented on #736
sure!

just as a reminder, we do this with inspiration from the folks at @yourfirstpr and hope to receive a patch from someone that is just getting started with contributing to open source. if you're interested, but need help [getting started](https://github.com/Esri/esri-leaflet#development-instructions), **please** don't be shy!

the collection of basemaps we already support can be found [here](

[2016-02-04 20:47] phxpdx commented on #736
I'll take a crack at it.

[2016-02-04 21:29] evanthoms commented on #736
Ok! I found that file and figured that's where one would add to the
collection.

On Wed, Feb 3, 2016 at 9:59 AM, john gravois <notifications@github.com>
wrote:

--

Evan Thoms
US Geological Survey, Alaska Science Center
4210 University Drive, Anchorage,  AK 99508
voice: 907-786-7409	fax: 907-786-7401
ethoms@usgs.gov

[2016-02-04 21:42] jgravois commented on #736
awesome!

[2016-02-05 21:03] daniel-sabourin commented on #729
Hi, I've added a related issue to the esri-leaflet-renderers page

https://github.com/Esri/esri-leaflet-renderers/issues/106

[2016-02-06 09:05] rhys-d commented on #739
Thanks for the example.  This is exactly what I needed.  I still have two issues though:
1) Most of the time when I want to hide layers, I can use the map.setLayers method, however sometimes I will need to remove the layer completely.  I tried using L.DomUtil.remove(pane) - https://github.com/Leaflet/Leaflet/issues/1742 but it doesn't seem to work.
2) When I use map.setLayers, it works most of the

[2016-02-12 18:41] jgravois opened #742 "refactor attribution and logo"
after ArcGIS API for JavaScript [4.0 final](https://developers.arcgis.com/javascript/beta/sample-code/get-started-sceneview/index.html) is released, lets revisit our attribution implementation here as well.

[2016-02-17 15:05] octavm opened #743 "Tiles disappear when zooming beyond 'maxNativeZoom'"
After the 'maxNativeZoom' level set on a tile loaded with **L.esri.tiledMapLayer** is reached, the tiles disappear instead of being loaded from the maxNativeZoom level and auto-scaled.

If the tile is loaded using the Leaflet **L.tileLayer** 'maxNativeZoom' works correctly.

I've prepared a [demo](https://jsfiddle.net/6b7tq6ea/2/) to see the issue.

Two tiles have been added using the ESRI Leaflet

[2016-02-17 16:30] SVoyt commented on #672
Check my solution https://github.com/SVoyt/esri-leaflet/tree/feature-advanced-dynamic.
I reworked DynamicMapLayer ( `L.esri.dynamicMapLayerAdvanced` ),
This layer's class is independent from DynamicMapLayer and RasterLayer and doesn't use recreating ImageOverlay on each update (so order of layers is permanent). It works properly with dateline, world repeating and zIndex.
On this week i will finish

[2016-02-17 17:08] jgravois commented on #672
@SVoyt fantastic!  i'm really looking forward to reviewing your PR.

[2016-02-17 19:21] patrickarlt commented on #672
@SVoyt I've got to echo @jgravois here, that sounds really fantastic. Can't wait to review it.

[2016-02-18 12:47] SVoyt commented on #672
You can try it [here](http://svoyt.github.io/labs/esri-leaflet/dynamic-advanced/index.html).
It works fine when `f:'image'`, but when `f:'json'` we have bugs. I trying to fix it now and i trying to write right tests.

[2016-02-18 19:42] robertd opened #744 "minZoom and maxZoom not working properly for Dynamic Layers"
Hello,

When you set minZoom/maxZoom options on Dynamic Layer there are leftover artifacts (images) that are not being properly removed when zooming in/out.

![not-working](https://cloud.githubusercontent.com/assets/31543/13155288/3e73be9c-d63a-11e5-9a73-79bf092e9053.gif)

or try it out here https://jsfiddle.net/f5u4cqt5/

[2016-02-19 03:11] rowanwins commented on #672
Great work @SVoyt , this has come at a very useful time for me!

I did notice there seems to be some empty pixels on the dateline, is this what everyone else see's as well or is this a browser bug? Or is it expected service from the service that you're using?

Looks great otherwise!
Cheers
Rowan

![empty pixels](https://www.dropbox.com/s/audk94r4pthra5k/screen.jpg?dl=1)

[2016-02-19 10:05] SVoyt commented on #672
@rowanwins, this grey line is from service, if you'll switch to ocean layer, border will be more smooth. But sometimes there is round-off error, when two images has space between ( ± 1px ), now i'm working on it.

p.s. I fixed bug with `f:json`

[2016-02-19 19:10] jgravois opened #746 "lets use templates!"
https://github.com/samccone/issue-and-pr-templates/blob/master/README.md

[2016-02-19 20:05] daniel-sabourin opened #747 "Best way to set opacity for Feature Layers?"
Hello again,

So the application I'm creating allows users to add whatever layers they want to a leaflet map. As such, whatever different types of layers exist, I need to be able to support it. The feature I'm adding is a slider to control the opacity of all the different layers that are on the map. All the other types of layers have an easy to use `setOpacity(0.5)`, however FeatureLayers do not.

[2016-02-20 23:12] arnaufp opened #748 "Map service not showing: dynamicMapLayer"
I am trying to display this layer https://tmservices1.esri.com/arcgis/rest/services/LiveFeeds/Hurricane_Active/MapServer/4

using

  L.esri.dynamicMapLayer({
    url: 'https://tmservices1.esri.com/arcgis/rest/services/LiveFeeds/Hurricane_Active/MapServer/',
	layers:[4]
  }).addTo(map);

I get back an completely blank png, while in ArcGIS Online I can perfectly see the layer.

Is there anything I a

[2016-02-21 15:46] #744 closed

[2016-02-21 16:10] GISDev01 commented on #748
Tried to repro. your issue, but everything is working well in this sample map:
https://gist.github.com/GISDev01/024d58a63d65134eac0b

Can you show us all of your code?

[2016-02-21 22:50] jgravois commented on #748
i suspect @arnaufp is seeing the affect of dynamicMapLayers not currently wrapping around the dateline (#672).

until we get the proposed fix in, you might consider setting [`noWrap: false`](http://leafletjs.com/reference.html#tilelayer-nowrap) on whatever your tiled basemap you're using (and perhaps even constraining the extent) to ensure the image overlays properly.

https://dl.dropboxuserconten

[2016-02-22 19:46] jgravois commented on #747
unfortunately, since some Leaflet point symbol types (like `L.marker`) include a constructor option and method for setting [transparency](http://leafletjs.com/reference.html#marker-setopacity), and others (like `L.icon`) do not, we'd have just as much trouble trying to implement the functionality internally as you are in your own application.

my initial reaction is that attempting to *wrap dispar

[2016-02-22 19:50] jgravois commented on #743
thanks for this.  the behavior definitely looks inappropriate to me.  i should be able to take a closer look soon.

[2016-02-23 17:28] patrickarlt commented on #747
If you are using Esri Leaflet 2.0 (and Leaflet 1.0) you can actually work around this problem very easily.

Take a look at our [Ordering Layers](http://esri.github.io/esri-leaflet/examples/layer-ordering.html) example. Each call to `map.createPane('name');` returns that DOM element you are trying to find.

So for example you could do something like this:

[code]

This is imperfect at best since no

[2016-02-23 20:13] patrickarlt commented on #743
I took a look. I think this is related to changes we made to handle web mercator services at non-standard scale levels.

I think we need to use `this._getZoomForUrl()` instead of `tilepoint.z` in https://github.com/Esri/esri-leaflet/blob/master/src/Layers/TiledMapLayer.js#L62-L69. @jgravois Assigning to you so you can investigate.

[2016-02-23 20:54] bdk0172 opened #749 "Cancel Previous Pending Requests"
We are displaying a customer's ArcGIS tiles within Mapbox and every time zoom is used, requests for tiles are sent out.  With this particular customer, not sure if their server is slow or experiencing network issues, but it appears that it gets hung up and all requests are sitting in a pending status when looking at the network tab in Chrome developer tools.  Is there anyway possible to cancel pre

[2016-02-25 21:20] SVoyt commented on #672
So, I formed it as a plugin for esri-leaflet - [esri-leaflet-dynamic-advanced](https://github.com/SVoyt/esri-leaflet-dynamic-advanced)

[2016-02-26 18:56] jwitcoski opened #750 "Please add full paths to libraries"
//cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.js

does not render when i use local browser on laptop. please change all your code to add https
https//cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.js

[2016-02-27 05:31] jgravois commented on #750
thanks @jwitcoski, this is a good suggestion.

not sure everyone agrees, but it's considered an anti-pattern to use protocol relative URLs and the suggested alternative is to hardcode `https` instead whenever possible.

the problem with cdn.leafletjs.com is that it actually doesn't *support* `https`, so I suggest that we update the sample app in the README to point at the copy of leaflet hosted on

[2016-02-27 18:48] jgravois commented on #748
check out @SVoyt's great new plugin. https://github.com/SVoyt/esri-leaflet-dynamic-advanced

closing this issue, but happy to talk more if anyone has any further questions.

[2016-02-27 18:48] #748 closed

[2016-02-27 19:25] jgravois commented on #750
just realized that the references that actually need updated are not in the README, they are [here](https://github.com/Esri/esri-leaflet-doc/blob/master/src/layouts/example.hbs#L24-L28)

[2016-02-29 02:12] somsub opened #753 "Set the Order or ZIndex of L.esri.DynamicMapLayer"
I am still using **Leaflet 0.7.7** (can't use the latest beta since other plugins may break). All I want to do _set the order of a DynamicMapLayer_. Basically, I am building a custom component that will allow users to search a geo data catalog and add multiple layers on the map, then **drag and reorder the layers**. The layers could be L.esri.DynamicMapLayer or L.esri.ImageMapLayer.(Served up from

[2016-02-29 09:39] SVoyt commented on #753
@somsub Pane is only container for layer's images. DynamicMapLayer and ImageMapLayer works with overlay pane as default.

[2016-02-29 16:44] somsub commented on #753
Thanks for your response. So how can I set an order to the layer ? Can you give me an example please

[2016-02-29 20:46] #733 closed

[2016-03-01 05:31] somsub opened #756 "time metadata for imagelayers"
I have layers like this http://imagery.arcgisonline.com/arcgis/rest/services/LandsatGLS/NDVI_Colorized/ImageServer that I need to filter by start and end dates. Thank you for posting this excellent sample https://esri.github.io/esri-leaflet/examples/visualizing-time-on-dynamic-map-layer.html. My question is there a method by which I can get metadata if the layer is time enabled and what's the rang

[2016-03-01 12:04] rowanwins commented on #672
Nice work @SVoyt , I'll give it a go over the next few days as I'm currently working with some global marine data.

From my quick look at the code it doesnt look like you're extending the dynamic layer from the core esri-leaflet library and I wonder if this is a problem? Perhaps you can somehow extend it rather than recreating it... @jgravois might have some advice about how to best structure this

[2016-03-01 15:30] patrickarlt commented on #756
@somsub You can use the exact same `setTimeRange` method on `ImageMapLayer` that you can on `DynamicMapLayer`. It is documented in the API reference https://esri.github.io/esri-leaflet/api-reference/layers/image-map-layer.html.

You can also use the `layer.metadata(callback)` method https://esri.github.io/esri-leaflet/examples/getting-service-metadata.html to get layer metadata. For your service h

[2016-03-03 03:42] somsub commented on #756
Thanks a lot...I'll try to come up with an example for time-enabled ImageMapLayer.

[2016-03-03 14:32] pdiddyb commented on #633
Is there any more thought to adding the ability to set tolerance per dyn layer?  I would actually take it on all dyn layers because on the phone people are having trouble hitting the features.

[2016-03-04 19:45] hhkaos opened #759 "Broken thumbnails with tile layers"
I think I have found a bug:
http://esri-es.github.io/JavascriptAPI/problems/morethan1000entities/tiled_feature_leaflet.html

Cheers,
Raul

[2016-03-07 16:24] jgravois commented on #750
i've hardcoded links in our documentation site to use `https` when the resource is available over [TLS/SSL](https://en.wikipedia.org/wiki/Transport_Layer_Security).

thanks again for the feedback.

[2016-03-07 16:24] #750 closed

[2016-03-07 16:31] jgravois commented on #759
thanks @hhkaos.  i'll take a look soon.

[2016-03-07 16:35] #736 closed

[2016-03-07 16:49] jgravois commented on #736
thank you @mattficke for the fix.

@phxpdx if you're interested/available to help, i created a new issue in our website repository (https://github.com/Esri/esri-leaflet-doc/issues/19) to request help documenting the change to the API.

[2016-03-09 22:41] jgravois opened #760 "get native GeoJSON from ArcGIS Server 10.4"
right now we interrogate featureLayer URLs to determine if they are on ArcGIS Online (and can emit GeoJSON natively).

we'll need a metadata request to the service in order to identify 10.4 machines with the same capability.

[2016-03-18 11:18] grighome opened #761 "How to enable subdomains url and use EXPORT function"
Hello!

How to enable subdomains url and use EXPORT function?

Demo url -

http://b.maps.rosreestr.ru/arcgis/rest/services/Cadastre/Cadastre/MapServer/export?bbox=-2872096.770357728,8568832.34605541,3.0041076113004357E7,2.387091391251745E7

[2016-03-18 11:33] grighome commented on #761
Sorry... i am use "json" format. Set f: 'PNG8'.

How to use  subdomains at url?

[2016-03-18 17:13] jgravois commented on #761
the only subdomain support currently in esri-leaflet is inherited from [`L.tileLayer`](http://leafletjs.com/reference.html#tilelayer-subdomains).

i've never heard of their use with dynamicMapLayers, but if its a common thing, we might consider exposing a mechanism to pass them in via the constructor and subsitituting different ones when making individual `export` requests.

[2016-03-21 13:55] scottsanzo opened #762 "JSONP Error: function cX does not exist on window._EsriLeafletCallbacks"
In certain cases the script tag loads and attempts to execute before the callback property is set. Creating the JSONP script tag after the callback property is set on the 'window._EsriLeafletCallbacks' object eliminates that possibility:
window._EsriLeafletCallbacks[callbackId] = function (response) {...};

var script = L.DomUtil.create('script', null, document.body);...
script.id = callbackId;

[2016-03-21 19:13] jgravois commented on #762
thanks for logging the issue!  just to be clear, you're suggesting that we reverse the order of operations in the code block [here](https://github.com/Esri/esri-leaflet/blob/master/src/Request.js#L160-L188), correct?

in what circumstances are you seeing this?  what is the resulting behavior?

[2016-03-21 19:38] scottsanzo commented on #762
No problem, thanks for the quick reply. Yes, those are the code blocks I'm referring to.

When using IE9, or in IE9 mode (though it could affect any browser that doesn't support CORS) the script tag returns and loads before the "window._EsriLeafletCallbacks[callbackId]" is set. When the resulting script is evaluated it attempts to execute the function (in this case "window._EsriLeafletCallbacks.c0

[2016-03-21 21:17] jgravois commented on #633
its already possible to modify tolerance when [identifying](http://esri.github.io/esri-leaflet/api-reference/tasks/identify-features.html) on *all* layers using the corresponding method that has always been exposed.

[code]

[2016-03-22 21:35] jgravois commented on #762
awesome. thanks for all the info. i'll test a little myself and submit a patch shortly unless anyone else wants to take a stab at submitting their own pull request with the fix you outlined.

[2016-03-23 15:11] Nick-t-go opened #763 "Relationship Queries"
Looking to do something similar to the code I have here that utilizes "esri/tasks/RelationshipQuery"

[code]

Can I still do the same in leaflet? I looked through the queries section of the API and did not see RelationshipQuery

[2016-03-23 16:27] jgravois commented on #763
esri-leaflet core doesn't include support for querying related tables, but i wrote another plugin for folks just like you :smile:

https://github.com/jgravois/esri-leaflet-related
http://esri.github.io/esri-leaflet/plugins/

if you need a hand getting things up and running, feel free to log an issue in that repo.

[2016-03-23 16:27] #763 closed

[2016-03-24 12:34] Nick-t-go commented on #763
@jgravois Thanks I am checking it out now

[2016-03-25 22:06] jgravois commented on #746
8195b0b38cc99aee83af86c045d682b3bc9c6564

[2016-03-25 22:06] #746 closed

[2016-03-25 23:06] jgravois commented on #672
@SVoyt's plugin looks great to me so i added it to our [plugin page](http://esri.github.io/esri-leaflet/plugins/).

i'm going to go ahead and close this issue, but if anyone has more questions, i'd be happy to discuss them.

[2016-03-25 23:06] #672 closed

[2016-03-30 16:49] MikeTschudi opened #764 "Add copyright and license to 2.x minified build"
* Browser and version:

Chrome 49

* Version of Leaflet (`L.version`):

1.0.0-beta.2

* Version of esri Leaflet (`L.esri.VERSION`):

2.0.0-beta.8, `master`

* I'm loading/bundling the library using:

[2.x CDN](https://cdn.jsdelivr.net/leaflet.esri/2.0.0-beta.8/esri-leaflet.js)

What happens: no mention of the copyright and license.
[code]

I was expecting something like (copyright year is that of

[2016-03-30 17:11] jgravois commented on #764
thanks for pointing this out @MikeTschudi!  the [debug](https://cdn.jsdelivr.net/leaflet.esri/2.0.0-beta.8/esri-leaflet-debug.js) copy on the CDN has the appropriate copyright text, but it looks like comments are getting stripped out in the [uglified](https://github.com/Esri/esri-leaflet/blob/master/profiles/production.js) rollup build that we just switched to.

i'll make sure to get this sorted o

[2016-03-31 16:15] MikeTschudi opened #766 "Update links in CONTRIBUTING.md"
Mocha link to be updated (broken); should be https://github.com/mochajs/mocha?
Karma link to be updated (new version); Karma recommends http://karma-runner.github.io/0.13/index.html

[2016-03-31 17:51] MikeTschudi opened #767 "Document basics of setting up clone for contributors"
https://github.com/Esri/esri-leaflet#development-instructions has
Development Instructions
3. Install the dependencies with `npm install`

[edit] For those of us who are somewhat new to node, perhaps a slightly-expanded line that indicates that `npm install` uses the repo's package.json file to set up all dependencies?  A newbie might try `npm install pkg1`, `npm install pkg2`, etc., and wonder wh

[2016-04-01 14:23] Nick-t-go opened #768 "Where to find Unique Styling properties after FeatureLayer is restyled using setStyle()"
- Browser and version:

Version 49.0.2623.87
- Version of Leaflet (`L.version`):

v1.0.0-beta.2
- Version of esri Leaflet (`L.esri.VERSION`):

2.0.0-beta.7

I'm using setStyle() to switch between different Unique Renderings for a specifice `esri.featureLayer`. I would like to know if those changes are written to a property on the `featureLayer` object. I see that there is a `feature._map._original

[2016-04-19 12:50] vamsiampolu opened #769 "ERR_NAME_RESOLUTION issue occuring with esri-leaflet attribution url"
* Browser and version:

ie: Chrome 49

* Version of Leaflet (`L.version`):

0.7.3
* Version of esri Leaflet (`L.esri.VERSION`):

1.0.2

* I'm loading the library using script tag.

Steps to reproduce the error:

What happens is when I load the web page, I sometimes see an ERR_NAME_RESOLUTION error for

https://static.arcgis.com/attribution/World_Topo_Map?callback=window._EsriLeafletCallbacks.c2&f=

[2016-04-19 15:11] jgravois commented on #769
is there a specific place in the world (and zoom level) I can center a map to reproduce this problem?

it sounds like a problem with the attribution service itself, but if i can reproduce the error i'm sure we can trap it so that it doesn't bubble up to client applications.

[2016-04-19 22:24] stdavis opened #771 "Non-mercator example is referencing soon-to-be deprecated tile service"
Just wanted to give you guys a heads up that the tiled service in `examples/non-mercator-projection.html` (http://mapserv.utah.gov/arcgis/rest/services/BaseMaps/Lite/MapServer) is going away at the end of the year. We are transitioning all of our base maps to Web Mercator and moving them to a new server.

Not sure where to point you to for a stable replacement. Maybe ESRI has something on a sample

[2016-04-19 23:35] jgravois commented on #771
@stdavis thanks for the heads up (and for the initial help)!

not ours, but [the service here](http://webmaps.nottinghamcity.gov.uk/ArcGIS/rest/services/basemap/Greyscale/MapServer?f=jsapi) is so cool i might just risk it.

[this one](http://maverick.arcgis.com/ArcGIS/rest/services/World_Mollweide/MapServer?f=jsapi) is another option.

[2016-04-20 05:12] #764 closed

[2016-04-20 15:52] #771 closed

[2016-04-20 17:27] jgravois commented on #767
closing via 6338a15 but happy to keep tweaking if you think more would be helpful.

[2016-04-20 17:27] #767 closed

[2016-04-20 17:35] jgravois commented on #766
thanks! a9c51e3
i left the karma link alone for now because we're still using [0.12](https://github.com/Esri/esri-leaflet/blob/master/package.json#L28)

[2016-04-20 17:35] #766 closed

[2016-04-21 01:20] vamsiampolu commented on #769
We open the map over Australia with the bounds(ad-hoc representation below):

[code]

We open it at the zoom level `6`, the issue only appears sometimes at this zoom level and at other times at different zoom levels, the most we zoom into is about `16`.

[2016-04-22 00:17] jgravois commented on #743
based on my first pass, additional changes will be necessary to implement a fix.

[2016-04-25 17:46] jgravois opened #775 "2.0.0 release checklist"
- [x] merge #772, #774
- [x] merge patrickarlt/leaflet-virtual-grid/pull/11
  - [x] tag, bag `1.0.4`
  - [x] bump dependency here
  - [x] confirm resolution of problem reported on [gis.se](http://gis.stackexchange.com/questions/190545/esri-leaflet-feature-layer-toggle-question)
- [x] test all samples in chrome, IE9
- [x] fix #776
- [x] bump/update changelog
- [x] bump `package.json`~~, `src/`,~~ a

[2016-04-25 22:54] #756 closed

[2016-04-26 15:48] #762 closed

[2016-04-28 18:55] jgravois opened #776 "more IE11 specific errors when loading custom tiled maps"
* Browser and version:

ie: IE11

* Version of Leaflet (`L.version`):

1.0.0-rc.1

* Version of esri Leaflet (`L.esri.VERSION`):

 `master`

Steps to reproduce the error:
1.load [examples/tile-layer-1.html](http://esri.github.io/esri-leaflet/examples/tile-layer-1.html)
2. same `invalidState` error

What happens is:
nothing draws

I was expecting:
a tiled map.

same issue as #770, but [here](https:

[2016-04-28 21:42] #776 closed

[2016-04-29 18:22] #775 closed

[2016-05-04 16:11] nathanhilbert opened #779 "Latest 2.0.0 release contains .DS_Store that breaks bower Windows"
* Browser and version:

Chrome 49

* Version of Leaflet (`L.version`):

1.0.0-rc.1

* Version of esri Leaflet (`L.esri.VERSION`):

2.0.0

* I'm loading/bundling the library using:

bower

Steps to reproduce the error:
1. bower install esri-leaflet on Windows
2.

What happens is [X].

[code]

I was expecting [Y].

[2016-05-04 18:11] jgravois commented on #779
thanks for reporting this.  luckily i was able to leave the npm release alone and [retag](https://github.com/Esri/esri-leaflet/releases/tag/v2.0.0) here in github and the problem appears to be resolved.

i'll wait for you to confirm before closing this thread.

[2016-05-04 18:19] nathanhilbert commented on #779
Looks good now.  Thanks for the quick turnaround.

[code]

[2016-05-04 18:19] #779 closed

[2016-05-05 14:29] nathanhilbert opened #780 "Rapidly running setWhere on featureLayer sometimes shows previous result and the new result"
**Browser and version**:

Chrome 49

**Version of Leaflet (`L.version`)**:

1.0.0-rc.1

**Version of esri Leaflet (`L.esri.VERSION`)**:

`master`

**I'm loading/bundling the library using**:

[CDN](http://www.jsdelivr.com/projects/leaflet.esri) and npm  built

Steps to reproduce the error:
1. Use [my branch](https://github.com/nathanhilbert/esri-leaflet/tree/setwhere)
2. npm start
3. navigate to i

[2016-05-17 00:13] bbehling commented on #566
Similar to the JSAPI, is it possible to get the initial Dynamic Layer Infos using this leaflet plugin?

After the layer is loaded and call getDynamicLayers(), nothing is returned.

[2016-05-17 00:31] jgravois commented on #566
we don't provide a wrapper method, but you can fetch the [metadata](https://sampleserver6.arcgisonline.com/arcgis/rest/services/USA/MapServer?f=pjson) for the service pretty easily and dig in for the 'layers' using [`L.esri.request`](http://esri.github.io/esri-leaflet/api-reference/request.html)
[code]

[2016-05-17 20:31] bbehling opened #781 "Get DynamicMapLayer.getLayers() does not return layers"
* Browser and version:
 Chrome 50.0.2661.102 m

* Version of Leaflet (`L.version`):
1.0.0-rc.1

* Version of esri Leaflet (`L.esri.VERSION`):
2.0.0

* I'm loading/bundling the library using:

ie: [CDN](https://cdn.jsdelivr.net/leaflet.esri/2.0.0/esri-leaflet.js

Steps to reproduce the error:
1. Add a dynamic layer to the map
2.Wait for the layer to load
3. In the load callback function, call getLa

[2016-05-17 23:24] jgravois commented on #781
the API reference could be a **lot** clearer on this, but the `getLayers()` method doesn't fire off a request for service metadata describing which layers are visible by default, it simply passes back information present in the [layer constructor](https://github.com/Esri/esri-leaflet/blob/master/src/Layers/DynamicMapLayer.js#L40) options.

my reply in [issue #566](https://github.com/Esri/esri-leaf

[2016-05-18 20:50] aaronkilbey opened #782 "Dynamic Service Load Error"
Chrome 50

[code]

Please let me know if it's a configuration issue on the service.  Thanks!

[2016-05-18 21:00] jgravois commented on #782
i took a little bit deeper look after we talked yesterday afternoon and the [REST spec](
http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#/Export_Map/02r3000000v7000000/) doesn't indicate that base64 images supplied in an `imageData` parameter within the [JSON](https://www.portlandmaps.com/arcgis/rest/services/Public/Hazard/MapServer/export?bbox=-1.366684172771099E7%2C5704143.6258965

[2016-05-19 16:38] aaronkilbey commented on #782
It's looking like something changed in 10.3.1 with this imageData VS href in the JSON return.  I see a [couple](http://gis.stackexchange.com/questions/172944/arcgis-export-map-operation-is-returning-imagedata-string-not-the-expected-png) [mentions](https://geonet.esri.com/thread/174914).  Does ESRI have a 10.3.1 sampleserver?  I was able to find [one of ours that does return href](https://www.port

[2016-05-19 17:11] aaronkilbey commented on #782
The only noticeable difference I'm seeing between the services that return href and those returning imageData in the config is the former all have AntialiasingMode: "None" vs the latter all having some mode of anti-aliasing turned on.  I confirmed this on all.   We're bringing up one of the imageData-returning services on a 10.3 box to see if there's any difference

[2016-05-20 00:03] jgravois commented on #782
i've got my own [cheatsheet of sample servers](https://gist.github.com/jgravois/577cb4556fd1f2e73f88) and unfortunately none are 10.31.  that being said, i'll look into it and let you know what i find out.

[2016-05-20 00:19] aaronkilbey commented on #782
It was just a hunch but we restored one of the service definitions to a 10.3 box earlier and it still returned imageData.  Then I thought it was consistent that the services with anti-aliasing disabled were the ones returning href vs anti-aliasing on and imageData, but I found exceptions.  I'm out of ideas.

[2016-05-20 00:36] jgravois commented on #782
Setting map service properties: http://resources.arcgis.com/en/help/main/10.2/index.html#/Setting_map_service_properties/0154000003p1000000:

based on my research it looks like publishing a service from an `.mxd` ensures that the **output directory** will be defined by the service editor. when publishing from an `.sd` file, i guess its up to you to provide one.

[2016-05-20 14:50] aaronkilbey commented on #782
All services have the same output dir.  ESRI API must be accounting for imageData because we haven;t seen this until esri-leaflet.  We have the f: 'image' workaround though for the people here wanting to use dynamic services so it's not a big deal.    Thanks for looking into it.

[2016-05-20 14:55] mquetel commented on #782
I verified that the services exhibiting this behavior already had output directories set. They were for the entire time that we have been looking at this issue.

![screen shot 2016-05-20 at 6 48 03 am](https://cloud.githubusercontent.com/assets/214979/15431639/abdcc934-1e5f-11e6-9f6a-d328eaa22141.png)

If AGS is apt to return data in this manner and the Esri JS API consumes it without incident, wo

[2016-05-24 21:38] jgravois commented on #781
happy to discuss this more if it'd be helpful.

[2016-05-24 21:38] #781 closed

[2016-05-24 21:43] jgravois commented on #684
Esri/esri-leaflet-doc#15

[2016-05-24 21:43] #684 closed

[2016-05-24 21:44] jgravois commented on #706
i'm always happy to review a PR which introduces the functionality i sketched out in my reply above if anyone ever wants to take a stab at it.

[2016-05-24 21:44] #706 closed

[2016-05-24 21:48] jgravois commented on #753
i don't have a good answer for you.  you'll need to upgrade to leaflet `1.0.0` if you want/need to take advantage of the more advanced functionality for controlling the display order of the layers in your map that was added.

http://esri.github.io/esri-leaflet/examples/layer-ordering.html

[2016-05-24 21:48] #753 closed

[2016-05-24 21:51] jgravois commented on #761
i'll consider digging in deeper if others reply in the future.

in general, standard practices for scaling/load balancing requests to your ArcGIS Server instance are your best bet to optimize performance for `export` operation responses.

[2016-05-24 21:51] #761 closed

[2016-05-25 16:27] jgravois commented on #759
soon we'll handle this for you, but in the meantime you can supply a blank .png to substitute via the [`errorTileUrl`](http://leafletjs.com/reference-1.0.0.html#tilelayer-errortileurl) in the *tiledMapLayer* constructor.

[code]
you can find placeholder images available for download in the Esri Knowledge Base article below

Article ID:	36939
http://support.esri.com/en/knowledgebase/techarticles/de

[2016-05-25 17:09] hhkaos commented on #759
Thx John! :), I'll try this way :))

[2016-05-25 17:23] jgravois commented on #782
the approach @aaronkilbey outlined in his initial post ensures that raw images are requested from ArcGIS Server (as opposed to a JSON object).  this is the same technique the JSAPI uses to display dynamic map services.

that said, even if base64 encoded images in response JSON are rare, i'll try and find time soon to test with your services to determine just how difficult it would be for this API

[2016-06-06 01:01] ynunokawa commented on #182
I roughly made a mock-up to load and display ArcGIS WebMap into Leaflet. Please see the repo.
https://github.com/ynunokawa/L.esri.WebMap

[2016-06-06 18:55] jgravois commented on #182
awesome work @ynunokawa!

i'll be able to take a deeper look soon.  i'd like to add a link to your repository in the [plugins](http://esri.github.io/esri-leaflet/plugins/) page of the doc site.  i'd also be great to include a sample along with our others [here](http://esri.github.io/esri-leaflet/examples/)

[2016-06-07 05:31] ynunokawa commented on #182
@jgravois Thanks!
You're welcome to add a link to my repo and a sample into your doc site. :smiley:

[2016-06-12 01:23] joelhickok opened #785 "Feature Layer Click Event Unexpected Behavior"
* Browser and version: Chrome 50 and Firefox 46

* Version of Leaflet (`L.version`): 1.0.0-rc.1

* Version of esri Leaflet (`L.esri.VERSION`): 2.0.0

* I'm loading/bundling the library using:
Tested both with local webpack, babel, es6 setup and on JSBin using CDN.
http://jsbin.com/jecuci/edit?js,console,output

Steps to reproduce the error:
1. Instantiate Leaflet map.
2. Add any basemap.
3. Add an

[2016-06-12 02:11] jgravois commented on #785
we don't fire an `L.esri.featureLayer` 'click' event.  this is Leaflet's own `L.marker` [MouseEvent](http://leafletjs.com/reference.html#marker-click).

can you do me a solid and confirm whether or not you can reproduce this behavior in webpack with Leaflet all by itself?

[code]

[2016-06-12 04:31] joelhickok commented on #785
Sorry... looks like the problem is with Leaflet 1.0.0-rc.1.  Everything works fine in the Webpack dev environment, as I have been doing for months.

The problem occurred when I started my first project using Esri-Leaflet 2.0.0, which forces the use of Leaflet 1.0.0-rc.1.  Mouse events work fine with Marker layers, GeoJSON layers, Esri FeatureLayers, and more, but as soon as you upgrade to 1.0.0-rc

[2016-06-12 05:19] joelhickok commented on #785
Not sure why the unexpected behavior is occurring... set up test project where it was absolutely black and white:
* Comment in Leaflet 1.0rc1 and mouse clicks did NOT work
* Comment out Leaflet 1.0rc1 and mouse clicks worked
    * This is on a GeoJSON layer with style transparency enabled.
    * Nothing else changed -- just which Leaflet version I was bringing in (0.7.7 vs 1.0rc1)

Meanwhile, in m

[2016-06-12 05:19] #785 closed

[2016-06-17 19:21] #759 closed

[2016-06-17 19:21] #760 closed

[2016-06-17 19:23] #742 closed

[2016-06-21 17:04] theashyster opened #786 "L.esri.Query does not respect offset and limit functions"
Hi, everyone,

sorry for not following the guidelines, but this issue kind of does not fit in them.

When doing a call like this using `L.esri.DynamicMapLayer`:
[code]
The returned result is not limited at all and returns all results at once.

When doing a call like this using `L.esri.DynamicMapLayer`:
[code]
The returned result is limited to 10 elements and I can successfully use offset later on

[2016-06-21 20:27] jgravois commented on #786
the API was supplying incorrect parameter names in the request, so the methods pertaining to paging results were being ignored completely.

i've submitted a pull request to correct the problem.  thanks for the catch!

[2016-06-22 09:58] theashyster commented on #786
Yep, that is what I also saw in the requests I made, yes.
Thanks for the pull request and looking at it I guess I should have made it myself, since I kind of knew that was the place causing the issue. Thanks for the fix. ;)

[2016-06-22 10:22] theashyster commented on #786
Can you also help me to understand where do I have to go to report an issue with the response returned from `query().run()` regarding `exceededTransferLimit` parameter?

[2016-06-22 15:35] jgravois commented on #786
what's the issue? is it specific to a particular service or reproducible dependably?

[2016-06-22 15:47] jgravois commented on #739
sorry for the extremely delayed reply.  i just noticed that L.esri.featureLayer method ['refresh()'](https://github.com/Esri/esri-leaflet/blob/master/src/Layers/FeatureLayer/FeatureManager.js#L289-L303) isn't documented but that's definitely the one you're looking for.

Esri/esri-leaflet-doc#40

[2016-06-22 22:43] theashyster commented on #786
The main issue is that the `exceededTransferLimit` parameter is returned inconstantly.
I am not sure about it being specific to some service or reproducible dependably though.

I am working with `L.esri.DynamicMapLayer` and this service:
http://services.geodataonline.no/arcgis/sdk/rest/index.html#/Query_Map_Service_Dynamic_Layer/02ss00000081000000/

I am querying the service to get all the feature

[2016-06-23 04:02] denydias opened #788 "L.esri.FeatureLayer addfeature and removefeature events not fired at all"
* Browser and version: Chromium 51.0.2704.84
* Version of Leaflet (`L.version`): 0.7.7
* Version of esri Leaflet (`L.esri.VERSION`): 1.0.3
* I'm loading/bundling the library using: [CDN](https://cdn.jsdelivr.net/leaflet.esri/1.0.3/esri-leaflet.js)

Steps to reproduce the error:
1. Run this [jsbin](http://jsbin.com/mazagipage/1/edit?html,output).
2. In layer control, disable Neighborhoods.

What ha

[2016-06-23 15:09] Guerillero opened #789 "L.esri.featureLayer in control.layers doesn't redraw layer without changing zoom (1.0.0-rc.1 / 2.0.0-beta.8; Chrome 51.0.2704.79 and FF 46.0.1)"
I am pulling both ESRI leaflet and leaflet from jsdelivr.

[Here](http://atlas.washcoll.net/~tdf/Easy-ESRI-Map/leaflet/) is a sandbox that shows the issue. The short version is that if you have a `L.esri.featureLayer` in a `control.layer` and you turn it off and then on again the layer does not draw.

https://github.com/Leaflet/Leaflet/issues/4622 may also be of interest. I don't really know what

[2016-06-23 16:26] jgravois commented on #789
this problem is not reproducible in [`2.0.0`](http://cdn.jsdelivr.net/leaflet.esri/2.0.0/esri-leaflet.js) :sparkles:.

[2016-06-23 16:26] #789 closed

[2016-06-24 17:47] jgravois commented on #788
currently, 'add' and 'remove' events are only fired when individual features are appended or dropped from the current collection of a `featureLayer` that is still being drawn on the map.  that said, it seems totally appropriate that the same corresponding events also fire when the entire layer is toggled on/off too.

a proposed fix can be found in #790.  once its merged, it will appear in our next

[2016-06-24 20:54] denydias commented on #788
Hi, @jgravois!

[2016-06-27 08:56] theashyster commented on #786
@jgravois Thank you for fixing the original issue. Did you have any thoughts regarding the `exceededTransferLimit` issue I described?

[2016-06-27 16:13] jgravois commented on #786
to be honest, i haven't had time yet to research this further (yet).

steps:
* write up a repro case to programmatically query service and introspect/compare responses
* use it to see if the problem is peculiar to an individual service
* dig in and see if the issue has already been reported
* if appropriate, log a bug for the appropriate team to investigate further

i certainly don't mind doing th

[2016-06-27 18:17] jgravois opened #791 "wanted: additional project maintainers/contributors (all experience levels welcome)"
even if you don't consider yourself an experienced Leaflet developer, having additional eyes on this project would be extremely helpful.

if you're willing, even sporadically, to review Pull Requests, help keep the [documentation](https://github.com/esri/esri-leaflet-doc/issues) up to date, and/or chip in with a bug fix, please let me know.
- https://github.com/Esri/esri-leaflet
- https://github.c

[2016-06-27 23:49] eallenOP commented on #791
I have some students who are looking for projects to help with. They are not yet really programmers but are keen to help with documentation etc. They start in a month. Is there anything they can help with?

[2016-06-28 15:12] AATinc opened #792 "Query a feature layer by drawing on a map."
Browser: Chrome
Leaflet: 7

I'm relatively new to leaflet and brand new to posting on GitHub so any help would be greatly appreciated.

Currently I am looking at querying a feature layer by drawing on a map in Esri Leaflet referencing our ARCgis 10.4 server.

Basically we want to do what Apartments.com does with their polygon search where they show what houses are for sale via markers inside that

[2016-06-28 22:30] jgravois commented on #791
awesome! we track documentation issues in https://github.com/esri/esri-leaflet-doc/issues

i'm more than happy to give guidance if any of them have questions.

[2016-06-29 06:31] jgravois commented on #792
the easiest thing to do would be to use something like [Leaflet.draw](https://github.com/Leaflet/Leaflet.draw) to enable users to sketch on your map.  afterward, you'd need to pass along the GeoJSON and pass it in a spatial query.

http://esri.github.io/esri-leaflet/examples/spatial-queries.html
http://esri.github.io/esri-leaflet/api-reference/tasks/query.html

[2016-06-29 13:45] bassena opened #793 "Question: L.esri.Request undefined?"
I couldn't find a definitive answer online. Is there a specific time in the file load process at which L.esri.Request is defined? It seems that at anytime I try to use L.esri.Request (i.e. to force L.esri.get to be set to use JSONP, such as described [here](https://esri.github.io/esri-leaflet/api-reference/request.html#l-esri-get-url-params-callback-)). I get an undefined error on L.esri.Request.

[2016-06-29 20:39] jgravois commented on #793
We removed L.esri.**R**equest() in [`2.0.0-beta.1`](https://github.com/Esri/esri-leaflet/blob/master/src/Request.js#L218-L220).  L.esri.**r**equest() is defined immediately.

From the [Changelog](https://github.com/Esri/esri-leaflet/blob/master/CHANGELOG.md#200-beta1):

[2016-06-29 23:25] jgravois opened #794 "Stream layer"
try and turn [this](https://gist.github.com/patrickarlt/7803ac129d8b15d79c72) into a plugin

[2016-06-30 12:36] bassena commented on #793
I see, thanks! I think the website should be updated to reflect these new changes to avoid future confusion, seeing as 2.0.0 seems to be the current stable release.

[2016-07-01 20:00] #793 closed

[2016-07-04 01:18] #788 closed

[2016-07-04 01:19] jgravois commented on #788
the fix has been merged into `master` and backported to [`1.0.4`](https://github.com/Esri/esri-leaflet/blob/master/CHANGELOG.md#104).  thanks for reporting.

[2016-07-04 01:20] jgravois commented on #792
closing, but happy to chat more if you have any additional questions.

[2016-07-04 01:20] #792 closed

[2016-07-05 01:45] denydias commented on #788
That's beautiful, @jgravois! Thank you very much for your quick action and backporting.

[2016-07-06 16:29] #182 closed

[2016-07-06 21:52] jgravois commented on #769
i finally got around to looking at this today and i wasn't able to reproduce the reported error.  that said, i *could* generate a similar problem by substituting an invalid url in the esri-leaflet source.

![screenshot 2016-07-06 14 37 39](https://cloud.githubusercontent.com/assets/3011734/16635433/43eb3624-4387-11e6-906d-77dd9189333f.png)

as i expected, the error that appears in the console isn'

[2016-07-06 21:52] #769 closed

[2016-07-06 21:58] #559 closed

[2016-07-06 21:58] #688 closed

[2016-07-07 09:01] sinaru opened #798 "Attribution can disappear when map getBounds( ) return out range values"
* Browser and version:
Firefox 47

* Version of Leaflet (`L.version`):
0.7.2

* Version of esri Leaflet (`L.esri.VERSION`):
1.0.3

* I'm loading/bundling the library using:
Own server.

Steps to reproduce the error:
1. Go to near meridian
2. Be in a zoom level that is around 16
3. Scroll left

What happens is since `map.getBounds()` can return an out of range longitude value from leaflet behavior

[2016-07-08 07:22] sinaru commented on #798
Hi i also had same behavior on for a bing layer plugin and reported the same issue. They have fixed it with wrap() approach.
https://github.com/shramov/leaflet-plugins/issues/229

[2016-07-10 08:53] sinaru commented on #798
Ping @jgravois

[2016-07-10 09:57] rowanwins commented on #794
Gday @jgravois

I'm intrigued by this, I recently did some work on displaying a web socket data feed using cesium and it worked a treat!

I've just had a quick look and it looks like there are a [few sample services](https://geoeventsample3.esri.com:6443/arcgis/rest/services/SeattleBus/StreamServer) available so I might take a bit of play and see how I get on.

Cheers
Rowan

[2016-07-10 21:32] jgravois commented on #794
please do.

[2016-07-11 11:29] rowanwins commented on #794
Gday @jgravois

Well here is my [first pass at a plugin](https://github.com/rowanwins/esri-leaflet-socket
). The pseudo-code was certainly a great star , I just made a few tweaks around the edges as I was unable to get a few things going.

The main issue I'm running into is that because I'm extending from the featureLayer I appear to be inheriting its map events (from the featureManager?), on map

[2016-07-11 18:07] jgravois commented on #798
you're reporting the same behavior i described [here](https://github.com/Esri/esri-leaflet/pull/797#issue-164186589).

like you said, its a trivial fix. i've included it in [`1d4d7c8`](https://github.com/jgravois/esri-leaflet/blob/1d4d7c8874b59ab164a16452e015d3db909ac7f9/src/Util.js#L172-L182) and will backport to `1.x` sometime soon.

[2016-07-11 18:10] jgravois commented on #794
very cool!  i'll be able to take a deeper look (and hopefully provide a few suggestions) sometime soon.

[2016-07-13 03:55] rowanwins commented on #794
I just discovered that you can actually pass some parameters to your socket connection like where clauses and bbox extents so I'll have a bit of a play at incorporating them...

[2016-07-13 11:24] rowanwins commented on #794
Gday @jgravois

Well I just pushed a fairly major update and I think I'm reasonably happy with how it's progressing now. You can basically define where queries, extents and fields.  Anyway when you've got a bit of time I'd love some feedback because I'm sure some improvements can be made.

Cheers

[2016-07-14 00:01] #798 closed

[2016-07-14 00:01] #782 closed

[2016-07-14 00:31] jgravois opened #801 "leaflet rc.2 compatibility checklist"
- [X] test live samples with esri-leaflet and leaflet `master`

so far, everything *just works*

[2016-07-14 19:33] jgravois commented on #734
this was closed by #754

[2016-07-14 19:33] #734 closed

[2016-07-14 21:38] jordanparfitt opened #803 "Faulty Basemap Crashes JavaScript"
The issue isn't browser or version specific but I'm using ESRI leaflet 2.0.

I have a basemap layer that is a bit of a pill. The endpoint acts just fine so I don't get any data back. I get this error though.

![image](https://cloud.githubusercontent.com/assets/1232294/16856585/2f6274b8-49d8-11e6-9c4c-e6c599a3a981.png)

I fixed it quickly by checking for the spatial reference

[code]

The real bug

[2016-07-15 00:12] jgravois commented on #803
can you share a url?  what version of ArcGIS Server?  what spatial reference?

[2016-07-15 17:32] jgravois commented on #803
also, maybe i'm just being pedantic, but i wouldn't say the application is *crashing*.

you're describing an uncaught exception in the console, but its not preventing additional code from executing, (at least on my side)

[code]

[2016-07-18 13:38] jordanparfitt commented on #803
My service is internal and doesn't fail consistently.

The only way I've found to replicate the bug is to set a URL to the services directory, something like this:

[code]

I'm runnning on 10.2.2 still. All my services are in spatial reference 4269. Metadata is an object it just doesn't have spatial reference. After I get the error none of my other basemaps will load, so the user can't use the app

[2016-07-21 11:19] timwis opened #805 "Leaflet version should match"
Just wanted to document some troubleshooting I just did to save anyone else some time.

I was trying to use esri-leaflet in my browserify setup to add a `tiledMapLayer`. First, I imported via:

[code]
But then `L.esri.tiledMapLayer` was undefined, so I used `const esri = require('esri-leaflet')` and added the layer via `esri.tiledMapLayer` (no `L.` prefix).

It was no longer undefined, but I was g

[2016-07-21 11:19] #805 closed

[2016-07-21 15:56] lucchez opened #806 "Leaflet Geocoder yielding too many results - only one is correct"
* Browser and version: Version 51.0.2704.106 m (64-bit)
* Version of Leaflet (`L.version`): 1.0.0-rc.2
* Version of esri Leaflet (`L.esri.VERSION`): 2.0.1

Steps to reproduce the error:

After updating to esri-leaflet.js 2.0.1 and esri-leaflet-geocoder.js 2.1.0 multiple markers are placed for an address query. One of the markers in is the correct geographic location whereas, 2-4 extra markers are

[2016-07-21 16:35] lucchez commented on #806
I placed this issue in the wrong section. It has been moved to esri-leaflet-geocoder.

[2016-07-21 16:35] #806 closed

[2016-07-21 19:46] jordanparfitt commented on #803
Any chance you will add that line of code?

[2016-07-21 19:48] jordanparfitt commented on #803
Didn't mean to close it

[2016-07-24 17:10] jgravois commented on #805
thx @timwis.  we actually have both `0.7.x` and `1.0.rc.x` compatible esri-leaflet releases.

https://github.com/esri/esri-leaflet#dependencies

if you looked somewhere else for this information in vain, we could probably link to it

[2016-07-27 19:33] alexpatow opened #807 "ImageLayer Token Authentication"
Hi All,

For a project I'm working on I needed to authenticate an ImageService using esri-leaflet. I have code to fix this issue if the maintainers would like a pull request (see below).

* Browser and version:

Chrome 51/52, Safari 9.1.2

* Version of Leaflet (`L.version`):

0.7.7, 1.0.0-rc.1, 1.0.0-rc.2

* Version of esri Leaflet (`L.esri.VERSION`):

1.0.3, 2.0.1

Steps to reproduce the error:

[2016-07-27 20:31] jgravois commented on #807
sounds great!

[2016-07-28 10:19] wasinger opened #808 "v2.0.1: tile layer not shown any more, but instead a GET request to a strange URL happens"
* Browser and version:

Firefox 47

* Version of Leaflet (`L.version`):

1.0.0-rc.2

* Version of esri Leaflet (`L.esri.VERSION`):

2.0.1

After Upgrading esri.Leaflet from 2.0.0 to 2.0.1, our tile layers (from our own arcgis server) are not shown any more, but instead a strange GET request to a non-existant URL that begins with path "undefined" relative to the root of our webapp is being sent tha

[2016-07-28 17:14] jgravois commented on #808
the problem you describe is not reproducible in our samples
http://esri.github.io/esri-leaflet/examples/tile-layer-1.html

[2016-07-28 19:51] jgravois commented on #803
absolutely.
i'm in the middle of trying to figure out to get our test suite passing in Node `v6`.  i'll plan on patching afterward unless i see a PR from you or some other industrious person first.

[2016-07-28 22:33] #801 closed

[2016-07-28 23:10] jgravois commented on #277
obviously there's still room for improvement, but ruby is no longer required and we've shared general steps for running the site so i'm going to go ahead and close.

https://github.com/esri/esri-leaflet-doc#instructions

[2016-07-28 23:10] #277 closed

[2016-07-28 23:45] jgravois commented on #794
i've added a link to @rowanwins' plugin to the esri-leaflet website.  nice work!
http://esri.github.io/esri-leaflet/plugins/

[2016-07-28 23:45] #794 closed

[2016-07-29 04:46] alexpatow commented on #807
Please see pull request #811

[2016-07-29 05:07] alexpatow commented on #807
Please see #812

[2016-07-29 14:52] MKellyEsri opened #813 "Loadtimes on Mobile"
Hello Team esri-leaflet,

I have been doing some testing from a mobile perspective around Esri Leaflet. One of the things I have noticed is that it can be quite slow to load on mobile when not on WiFi. I am using the latest versions of Leaflet and Esri Leaflet - code in links below:

[Loading Leaflet but not Esri Leaflet](http://esri-ireland.azurewebsites.net/withoutEsriLeaflet/)
[Video loading th

[2016-07-29 16:01] andygup commented on #813
Have you tried testing with Esri-Leaflet hosted on your azure instance? Could be a CDN issue in your region as related to your cellular network.

[2016-07-29 16:30] jgravois commented on #813
i suspect that gupper is on the right track.  kinda strange though, given that you're also pulling Leaflet from the same CDN.

just to give you a basis for comparison.  with network speeds throttled to 'Regular 4G' in Chrome, here in Southern California it only takes 129ms for me to load `esri-leaflet.js`.

please let us know the impact of bundling the library alongside your application.
![screens

[2016-07-29 16:53] MKellyEsri commented on #813
Cheers for the suggestions guys - I'll definitely give that a shot once I'm back in the office on Tuesday. It's a strange one alright - it was loading fine when throttling through Chrome as well. I must compare the load times with yours! It was even loading fine when thethering the wifi off my phone! Anyway I'll give an update once I get another look!

[2016-08-01 15:12] CraigVA opened #814 "v2.0.1 requires a variable named map"
Using Leaflet 1.00 rc2 and Esri-Leaflet 2.0.1, I made a map like this where the map variable is named m:

[code]

In Chrome and IE 11, this throws an uncaught reference error, and it gets thrown again each time the map is zoomed or panned, until eventually it's frozen.  (in Firefox it doesn't throw a reference error if you have a div named map, but will if you make a version with the div named som

[2016-08-01 15:41] jgravois commented on #814
thanks for reporting.  i proposed a fix in #809 and plan to tag `2.0.2` shortly after it's merged.

[2016-08-01 16:19] CraigVA commented on #814
Glad to see it's already being addressed, I didn't think to also check the pull requests before posting.  I initialized and renamed the variable in my local copy and it's working fine now.

[2016-08-01 17:31] jgravois opened #815 "get tests passing in Node version 6.x"
i'm seeing lots and lots of failing tests after upgrading node to version `6.3.1` locally.  the problem can be seen in Travis as well.  i was able to fix a few with simple decimal precision tweaks, but others are more mysterious to me.

branch in progress here - https://github.com/Esri/esri-leaflet/tree/node6

[2016-08-01 17:37] #803 closed

[2016-08-01 19:39] #807 closed

[2016-08-01 23:08] alexgleith opened #817 "Identify Features returning no features for certain CRS (SR)"
* Browser and version:

ie: Chrome 51, IE11

* Version of Leaflet (`L.version`):

0.7.7, 1.0.0-rc.1?

* Version of esri Leaflet (`L.esri.VERSION`):

2.0.1

My Code: https://github.com/alexgleith/tasmap.org/blob/master/app/scripts/main.js

The map with layer in question: https://tasmap.org/?layers=list-Public/Indexes-62;list-Public/TopographyAndRelief-27#12/-42.8771/147.3361

Steps to reproduce the

[2016-08-02 01:18] jgravois commented on #817
the failing request contains in invalid parameter value.

its easier to see the problem when the url is decoded.

this is because you are passing the same string unnecessarily to `IdentifyFeatures.layers()`
[code]

[2016-08-02 01:25] alexgleith commented on #817
I don't understand. I can see I have an extra layers= there.

Can you show me what I should be including instead? Sould I just be including `.layers(layer.meta.id)` (which would be 27) ?

And, oddly, a layer like this one works: https://tasmap.org/?layers=list-Public/OpenDataWFS-13#18/-42.83343/147.28379

[code]

[2016-08-02 02:14] #817 closed

[2016-08-02 17:47] CraigVA opened #818 "Feature layers get displaced after switching from ESRI basemap"
I have code like this that lets you switch between ESRI basemaps and also shows some features:
[code]
While it's still on the Imagery basemap, everything works fine.  But switch to the Topographic basemap and zoom in and out repeatedly, and the feature layers will end up completely out of place.

As far as I can tell the issue is caused by line 216 of Basemap.js, in the onRemove function:
`map.off

[2016-08-02 19:46] jgravois commented on #818
apparently i introduced ***two*** dumb bugs when i refactored dynamic attribution logic into a generic utility class.  thank you for helping me identify both of them and my sincere apologies for the inconvenience.

the problem is that we are [currently **not**](https://github.com/Esri/esri-leaflet/blob/master/src/Layers/BasemapLayer.js#L216) unwiring the same event listener for interrogating and d

[2016-08-03 17:27] #818 closed

[2016-08-03 17:47] #814 closed

[2016-08-03 19:45] Metalyph opened #821 "Querying a FeatureLayer that intersects a circle gives no results"
* Browser and version:
Google Chrome, Version 52.0.2743.82 m (64-bit)

* Version of Leaflet (`L.version`):
1.0.0-rc.2

* Version of esri Leaflet (`L.esri.VERSION`):
2.0.1

I'm trying to use a circle geometry object to do a spatial query.

jsBin example: https://jsbin.com/lupowab/edit?js,console,output

The code is not returning any errors, but for some reason the query itself returns nothing, when

[2016-08-03 20:11] Metalyph commented on #821
Sorry, I just realized I can use the `nearby()` function instead.

[2016-08-03 20:11] #821 closed

[2016-08-03 21:20] jgravois commented on #821
the problem you encountered initially was the result of the fact that in Leaflet, `L.circle.toGeoJSON()` returns a point, not an actual geometric representation of the circle itself and thats what is passed along in your query to the service.

since points don't often intersect other points, we added the [`nearby()`](http://esri.github.io/esri-leaflet/api-reference/tasks/query.html) function for c

[2016-08-03 22:38] jgravois commented on #814
fix has been packaged in [`2.0.2`](https://github.com/Esri/esri-leaflet/releases/tag/v2.0.2)

[2016-08-03 22:38] jgravois commented on #818
fix has been packaged in [`2.0.2`](https://github.com/Esri/esri-leaflet/releases/tag/v2.0.2)

[2016-08-04 06:42] alexpatow commented on #807
Thanks for merging and closing this! I'd love to continue contributing, is there any issue in particular I can help with?

Thanks,

Alex

[2016-08-04 16:02] MKellyEsri commented on #813
Just a quick update on this - hosting the Esri-Leaflet library didn't quite do it. Hosting via Azure seems to be part of the problem. I changed to Register365 hosting and the load times were as expected!

I changed some things so everything is requested over either http or https. I also checked out the network traffic via a Mac and there was a serious latency (up to 20s) on one file each time vary

[2016-08-04 16:23] jgravois commented on #807
thanks for offering!  anything from the open issues list in this repo or our documentation repo are fair game.

https://github.com/esri/esri-leaflet/issues
https://github.com/esri/esri-leaflet-doc/issues

we're also always interested in general guinea pigging and exploratory testing.  getting feedback regarding whatever points of confusion you encounter along the way would be totally helpful.

[2016-08-04 20:04] Metalyph opened #822 "nearby() function not working with MapServer"
* Browser and version:
Google Chrome, Version 52.0.2743.82 m (64-bit)

* Version of Leaflet (`L.version`):
1.0.0-rc.2

* Version of esri Leaflet (`L.esri.VERSION`):
2.0.1

I am attempting to query an ArcGIS MapServer using the nearby() function of leaflet-esri.

_CodePen demonstrating the issue:_
http://codepen.io/Metalyph/pen/pbxZja?editors=1111

The query works fine with a FeatureServer, however

[2016-08-04 20:42] jgravois commented on #822
from the doc:

in the documentation we also need to clarify that the method is only supported when the above is true ***and*** when an individual service `supportsQueryWithDistance`
[code]
your map service layer does not:
http://64.15.76.182/arcgis/rest/services/IRAP_Data/FDS_Mapping/MapServer/1?f=pjson

this one does:
http://sampleserver5.arcgisonline.com/arcgis/rest/services/Census/MapServer/3?f

[2016-08-04 21:19] Metalyph commented on #822
So in theory, if we were to enable `supportsQueryWithDistance` on our MapServer, could we query it using nearby()?  Or will it only ever work on FeatureServices?

Also, I apologize, I missed that bit in the documentation. At this point I realize that I'm just looking for general help with esri-leaflet, is there a better place to be posting this?

[2016-08-04 21:30] jgravois commented on #822
yup.

from the REST doc:
http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#/Dynamic_Layer_Table/02r3000000q0000000/

`supportsAdvancedQueries` returns false in the following scenarios:
* The layer / table resides in a workspace other than an enterprise database or File Geodatabase.
* The layer / table is joined with another layer / table from a different workspace.

i wouldn't say you

[2016-08-05 17:14] sinaru commented on #798
Hi @jgravois I came to look into the issue. I realized that you have made the changes to 2.0.x but not for 1.0.x? When can I expect the changes for 1.0.x.
Thanks

[2016-08-05 17:56] jgravois commented on #798
Leaflet appears to finally be nearing an official `1.0.0` so i don't think i'll bother tagging an `0.7.x` compatible release of Esri Leaflet solely for this change.

[2016-08-05 21:03] andygup commented on #813
I've seen that behavior before with a variety of CDNs.

A few more suggestions:
- You might try purging the cache.
- Recheck your cache settings for Expiry Policies and Times.
- Verify the primary servers CPU and bandwidth load. If the CDN is refreshing from a primary server based on Expiry rules and that server is bogged down it can affect the overall CDN performance.
- Run traceroutes from the s

[2016-08-07 22:59] tyleralves commented on #791
@jgravois
I've been playing with ArcGIS JS API, Leaflet and ESRI-leaflet and have about three years professional experience with ArcGIS Desktop (hopefully helpful?). I would love to contribute/ review/ document as needed. I have a solid command of JS, but will probably start with documentation/ minor code contributions until I get a better handle on the code base.

[2016-08-07 23:44] tyleralves opened #825 "Semistandard tests failing - PR proposal"
When I run `npm test`, `semistandard` fails with a couple formatting errors. I made the changes and am ready to submit a PR but it just seemed so bizarre that I figured I'd ask about it here. To address semistandard's problems I:

1. Added `if(error)` to log errors to console in FeatureManager.js
2. Removed line padding around a single `if else` statement in Request.js

[code]

[2016-08-08 02:35] jgravois commented on #825
what version of semistandard?  i don't see a problem in `7.0.5`.

if you're going to go to the trouble of PRing to correct errors in a newer version, you might consider trying to bump us all the way up to [`8.0.0`](https://www.npmjs.com/package/semistandard).

[2016-08-08 02:39] jgravois commented on #791
@tyleralves your contributions so far have been really helpful.  keep em coming!

[2016-08-08 05:02] tyleralves commented on #825
I'm running 8.0.0.
I couldn't figure out why the handle-callback-err rule wasn't enforced in 7.0.5 but I was able to follow the breadcrumbs on the padded-blocks error (below). Will submit PR to bring up to semistandard 8.0.0.

padded-blocks error summary:
eslint-config-standard package `"padded-blocks": "never"` complains if there is an empty line at the beginning or end of an if-statement block.

[2016-08-08 16:04] jgravois commented on #825
continuing the discussion in #826

[2016-08-08 16:04] #825 closed

[2016-08-08 16:05] #822 closed

[2016-08-24 18:08] jgravois opened #831 "tiledMapLayer should fetch/display service attribution"
it wouldn't be hard to handle updating attribution using metadata from tiled map services
✨  *automagically* ✨

* if the developer passed `attribution` in the object constructor, don't overwrite it
* if they didn't, we're already making a [`metadata`](https://github.com/Esri/esri-leaflet/blob/master/src/Layers/TiledMapLayer.js#L104-L122) request when the layer is added to the map

[code]

[2016-08-24 20:12] jgravois commented on #813
closing since there are no action items on our end, but happy to chat more if it'd be helpful.

[2016-08-24 20:12] #813 closed

[2016-08-24 20:14] jgravois commented on #808
closing since @wasinger never wrote back, but more than happy to reopen and investigate further if anyone can reproduce the error and share a little more information.

[2016-08-24 20:14] #808 closed

[2016-08-24 21:10] tyleralves commented on #831
I'll take it.

[2016-08-25 11:12] MKellyEsri commented on #813
Thanks John - this has taken the back seat over the past while as other things have come in. I do plan to get back to it at some stage and will let you know when I do get to the bottom of it!

[2016-08-25 15:25] cgalvarino opened #833 "dynamic layers throwing 500 errors and masking other map marker events"
* Browser and version:

Chrome 52.0.2743.116 m (64-bit)

* Version of Leaflet (`L.version`):

0.7.7

* Version of esri Leaflet (`L.esri.VERSION`):

1.0.4

Hello, I am having the same problem described here http://gis.stackexchange.com/questions/186013/handling-errors-with-esri-leaflet-dynamic-map-layers when adding a publically (token based) service from here https://www.arcgis.com/home/item.html?

[2016-08-25 15:35] cgalvarino commented on #833
Sorry, that argcis tile source link wasn't the right one.  I updated it in the original text.

[2016-08-26 22:38] jgravois commented on #831
thx @tyleralves

[2016-08-26 22:38] #831 closed

[2016-08-26 23:00] jgravois commented on #833
i'm able to see the live hurricane data displayed in the map viewer after opening the link below and signing in with my organizational credentials.

https://www.arcgis.com/home/webmap/viewer.html?layers=5b84e159dace4bf8ad9e9154085ba45d

what layer type are you using to try and display the service in esri leaflet?  since no tiles have been cached for this service, i used a `dynamicMapLayer` and it

[2016-08-26 23:26] cgalvarino commented on #833
At the time it was erroring out. During active storms naurally. I'll try to spin up a dummy svc here that does nothing other than 300s and report back.

[2016-09-01 21:43] jgravois opened #837 "make sure esri leaflet fetches/displays service attribution automatically"
**all** layers should fetch/display service attribution

- [X] `tiledMapLayer` (done in #831)
- [ ] `dynamicMapLayer`
- [ ] `imageMapLayer`
- [ ] `featureLayer` (which would be inherited by `Cluster.featureLayer` etc.)

[2016-09-01 21:46] jgravois opened #838 "'Powered by Esri' should always be present in the attribution"
currently, we only [tweak](https://github.com/Esri/esri-leaflet/blob/master/src/Layers/BasemapLayer.js#L205) Leaflet's attribution prefix when an Esri basemap is added to the map.

since this attribution should be displayed when **any** content from ArcGIS Online is being drawn, the easiest thing to do is just call `setPrefix()` as soon as this plugin is loaded instead of waiting for a basemap to

[2016-09-06 16:08] jgravois opened #839 "how do you retrieve GeoJSON features from L.esri.FeatureLayer?"
i commonly see questions on Stack Overflow, Geonet, etc. from folks who either need help figuring out how to loop through the clientside GeoJSON features of `L.esri.featureLayer` or getting a reference to an individual feature.

to loop through features, use [`eachFeature()`](http://esri.github.io/esri-leaflet/api-reference/layers/feature-layer.html#methods):
[code]
to get a hold of an individual

[2016-09-06 16:08] #839 closed

[2016-09-06 18:38] jgravois opened #840 "make attribution expandable when an ellipsis is displayed"
my humble opinion is that Leaflet's attribution control should never exceed a single line in height and that we should be able to expand the text via a mouseclick if an ellipsis is being used for truncation.

[2016-09-08 23:04] agaffiga commented on #731
I'm having the same issue, so this definitely wasn't pointless @svancise ! Can you tell me how you were able to fix this with CSS? The fix you link to is for a tile layer, and I'm not sure that applies to what I (or you) were doing?

[2016-09-08 23:23] jgravois commented on #731
@svancise's fiddle loads a pretty old version of Leaflet (`0.6.4`).

i can't repro the behavior in [`0.7.7`](http://jsbin.com/sezike/edit?html,output), let alone [`1.x`](http://jsbin.com/peyava/edit?html,output) (which introduced substantial improvements in controlling layer draw order).  i'm happy to investigate further if anyone can provide more info.

[2016-09-09 02:03] agaffiga commented on #731
I figured it out. The issue of not being able to open a popup from a button outside the map started once I upgraded to ESRI Leaflet 2.0.0. So I thought this note in the release notes was what I needed:

	• By default basemap layers GrayLabels, DarkGrayLabels, OceansLabels, ImageryLabels, ImageryTransportation, ShadedReliefLabels, TerrainLabels will now be rendered on top of polygons and polylines

[2016-09-09 17:42] #838 closed

[2016-09-09 19:06] #837 closed

[2016-09-09 19:09] jgravois commented on #840
closed via 3f0af3c5331be2f086270c4953afebcc56af792a

[2016-09-09 19:09] #840 closed

[2016-09-12 22:09] jgravois opened #844 "remove extraneous files from npm release"
<img width="997" alt="screenshot 2016-09-12 13 47 07" src="https://cloud.githubusercontent.com/assets/3011734/18452367/6ba206c8-78ef-11e6-9162-6cfda3f10d3d.png">

in the interest of ensuring the npm release is [lightweight](https://github.com/moment/moment/blob/develop/.npmignore), it'd be appropriate to remove:
* `esri-leaflet-v.2.0.x.zip`
* `spec/` directory
* `scripts/` directory
* `bower.json`

[2016-09-13 12:15] mepdr opened #845 "jwt integration"
The arcgis service is behind a web application using jwt token for authorizing the requests. Is there a simple way to force all requests to have such token in the header 'Authorization'? Is it visible to extend featureLayer to support such option?

[2016-09-13 17:18] jgravois commented on #845
the foundation of the generic request code used by `L.esri.featureLayer` can be found [here](https://github.com/Esri/esri-leaflet/blob/master/src/Request.js#L117-L127).

the code block even demonstrates how to set an [`xmlHttpRequest`](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest) header value programmatically.

[code]

you're certainly welcome to attempt to extend this library

[2016-09-13 17:45] jgravois commented on #731
this is actually an improvement to Leaflet core in `1.0.x` made by our very own @patrickarlt! (Leaflet/Leaflet/pull/3109).

there's certainly nothing *wrong* with binding popups for each and every feature in the constructor if you don't have too many, but i quite like the new behavior of limiting binding to features that have seen interaction.

i put together a simple application which binds a pop

[2016-09-13 23:03] jgravois commented on #833
happy to dig in further to see what we can do in the repo if anyone can share a repro case.

[2016-09-13 23:03] #833 closed

[2016-09-13 23:05] cgalvarino commented on #833
Rats. Sorry I let this one grow stale. I saw the same behavior for a working dynamic layer that I had NOT applied a valid token to use. It would block the popups like the 503 seemed to do. I'll try to put an example together in the next day.

[2016-09-14 06:08] mepdr commented on #845
Thanks for the answer, I see your point and I agree that it shouldn't be integrated in the library.
Is there a way to intercept the request to set the header or should I change the source code?

[2016-09-14 18:48] jgravois commented on #845
I pointed you at the relevant source code to assist you in making your own changes.  with regard to intercepting requests, we don't have anything comparable to the JSAPI's [`setRequestPreCallback()`](https://developers.arcgis.com/javascript/3/jsapi/esri.request-amd.html#esrirequest.setrequestprecallback), if thats what you're asking.

[2016-09-14 18:57] jgravois commented on #844
resolved by ff30e6c

[2016-09-14 18:57] #844 closed

[2016-09-15 19:34] marsmith opened #847 "Displaying a L.dynamicMapLayer in leaflet 0.7.7 fails with 404"
* Browser and version:
52.0.2743.116 m

* Version of Leaflet (`L.version`):
0.7.7

* Version of esri Leaflet (`L.esri.VERSION`):
1.0.4

Steps to reproduce the error:

1. Check out this plnkr:
https://plnkr.co/edit/8nLyNHrOsR0dZqYsiYGc?p=preview

Getting a 404 error while trying to load a NOAA dynamic map layer.  The map service IS returning an image if inspected in the developer console, but somet

[2016-09-15 22:57] jgravois commented on #847
this is because the JSON response from the service returns base64 encoded imageData instead of a url to fetch the image.
[code]
i introduced support for that particular *feature* in [`v2.0.1`](https://github.com/Esri/esri-leaflet/releases/tag/v2.0.1) (more info in #782)

[2016-09-16 17:53] jgravois commented on #631
took awhile to get to it, but i refactored pat's work as a plugin in the same repo.  its now called [`esri-leaflet-vector`](https://github.com/esri/esri-leaflet-vector)

[code]
live sample:
http://esri.github.io/esri-leaflet/examples/vector-basemap.html

[2016-09-16 17:53] #631 closed

[2016-09-16 17:56] agaffiga commented on #631
Is Imagery not available as a vector basemap yet?

[2016-09-16 18:20] jgravois commented on #631
aerial photography is just a raster layer that's been baked into the vector tiles in ArcGIS Online like [Hybrid](https://www.arcgis.com/home/item.html?id=8fad42206b6d4efcbd02623dba4554e4).

In Esri Leaflet you'd load the two layers seperately.

[code]
http://jsbin.com/hakuwul/edit?html,output

due to the lack of sync, flickering on pan/zoom, [caveats](https://github.com/mapbox/mapbox-gl-leaflet/tr

[2016-09-16 18:23] agaffiga commented on #631
Gotcha, thanks!

Ann Gaffigan
Owner/CEO
Gazelle Incorporated
714-793-9739

[2016-09-19 15:00] marsmith commented on #847
For future reference-- after checking out the referenced thread, I solved the issue by adding an option:
`f:'image'` to the L.dynamicMapLayer.

See modified working plunkr here:
https://plnkr.co/edit/ShqRWA5aR8GCXLQEPqF4?p=preview

[2016-09-19 15:24] #847 closed

[2016-09-20 18:09] #845 closed

[2016-09-21 22:13] jgravois opened #850 "omit namespace when calling calcAttributionWidth from within 'Util'"
~~L.esri.Util.~~`calcAttributionWidth(map)`

https://github.com/Esri/esri-leaflet/blob/bf2e7d9bb61e0b18e74d654dd88e697139aa4974/src/Util.js#L161
https://github.com/Esri/esri-leaflet/blob/bf2e7d9bb61e0b18e74d654dd88e697139aa4974/src/Util.js#L169

[2016-09-21 22:14] jgravois commented on #850
this breaks bundles downstream that want to selectively import a tree-shaken ES6 module

[2016-09-22 18:36] JRosh33 opened #851 "Trying to load a private feature layer using authentication with ArcGIS Server"
Chrome Version 52.0.2743.116 m (64-bit)
leaflet@1.0.0-rc.3
esri-leaflet@2.0.3

Thanks in advance for the help. Only have a little experience with HTML/JS. Can provide more information if needed.

**Steps to reproduce the error:**
Edit code using [ArcGIS Server username/password](https://esri.github.io/esri-leaflet/examples/arcgis-server-auth.html) template using my URLs, username, password, refere

[2016-09-22 18:42] jgravois commented on #851
use the browser network debugging tools to isolate the request for the token and see what the response was.  it sounds like it didn't include a token.

[2016-09-22 19:02] JRosh33 commented on #851
I'm not seeing the token in the response object.
![image](https://cloud.githubusercontent.com/assets/8837379/18762096/a639eee0-80c4-11e6-8bfc-5b03f8061967.png)

Do my inputs into the template look right?

[2016-09-22 21:10] jgravois commented on #851
* you need to tack `/generateToken` onto the end of that URL.
* the `referer` should be the URL of your own app (see the doc below for more info)

http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#/Generate_Token/02r3000000m5000000/

also, please keep in mind that you shouldn't be including plain text usernames and passwords in production apps.

[2016-09-25 11:21] jgravois commented on #851
@JRosh33 are you sorted out now?

[2016-09-25 11:23] jgravois commented on #850
thanks for volunteering to help with this one @hamhands!  if you're still having trouble calling karma from the CLI next time you crack your laptop locally let me know.

[2016-09-25 19:48] hamhands commented on #850
@jgravois yeah karma is still giving me hell. Ima push the changes and let travis handle it for now.

[2016-09-25 19:56] hamhands opened #853 "Karma && eslint problems"
Steps to reproduce the error:
1. npm test
2. npm install

What happens is:

[code]

[2016-09-26 05:02] #850 closed

[2016-09-26 18:44] jgravois commented on #853
this is reproducible after blowing away the `node_modules` folder and running a fresh `npm install` correct?
what version of node?  npm?

[code]

[2016-09-26 22:05] JRosh33 commented on #851
Thanks for the help. I wasn't able to get it working so I just had the administrator change the feature service to public.

[2016-09-26 22:47] jgravois commented on #851
long live open data 🎏

[2016-09-26 22:47] #851 closed

[2016-09-26 23:05] jgravois opened #855 "start linting test directory"
semistandard spec/** currently returns ***lots** of errors.

i have a hunch that automatic fixes and `/* eslint-env mocha */` might be all we need.

https://github.com/feross/standard#what-about-mocha-jasmine-qunit-etc

[2016-09-27 15:51] robertd commented on #791
I can donate some of my time under @robertd or @rdjurasaj-usgs

[2016-09-28 17:33] sethlewis commented on #791
@jgravois

I'd like to assist, beginning with documentation until I become more proficient with the codebase.

[2016-09-28 17:44] jgravois commented on #791
i'm glad to see so many offers to help.  don't be shy if you have any questions about getting started.

[2016-09-28 19:35] hamhands commented on #853
Correct.

* node v5.7.0
* npm 3.6.0.

A previous installation of what specifically?

[2016-09-28 19:48] jgravois commented on #853
PhantomJS.

to be honest, our test suite is only *relatively* stable on Node 4.x and fundamentally broken on 6.x.  given that you're currently floating halfway between, i'd recommend [rolling back](https://nodejs.org/en/) to 4.x if you'd like to set up an environment where you can contribute easily.

i have a hunch we may *still* have to tackle more issues with your PhantomJS setup afterward, but

[2016-09-28 19:55] hamhands commented on #853
I mean it's not in my path, but the modules are showing up in the project folder.

Rolled back to 4.6.0, got this:
[code]

[2016-09-28 20:18] hamhands commented on #853
Ok, nuked the modules, and ```npm install``` ran fine.

npm test returns same error on PhantomJS as above.

[2016-09-28 20:23] jgravois commented on #853
two action items

- [ ] PR to this repo removing `eslint` from package.json dependencies (just to swat away the confusing, irrelevant error)
- [ ] a sanity check on your machine to see whether we can 'hello world' with PhantomJS.

[2016-09-28 22:20] #855 closed

[2016-09-29 02:38] ajainvivek opened #860 "typings for esri-leaflet"
Is there any typings package for esri-leaflet to support typescript module?

[2016-09-29 04:17] jgravois commented on #860
there is not.  if anyone from the community is interested in contributing TypeScript module definitions, that would be really cool.

[2016-10-02 21:22] JamesMilnerUK opened #861 "CORS Issue for Vector Maps"
Hey folks, hope you're well, congrats on the new release. I'm having some issues with vector maps and CORS with Esri Leaflet.

* Browser and version:

ie: Chrome 51, IE11

* Version of Leaflet (`L.version`):

1.0.1

* Version of esri Leaflet (`L.esri.VERSION`):

2.0.3

Steps to reproduce the error:

Open up a Esri Leaflet map that uses Streets, Gray, Dark Gray vector basemap

You will see an error

[2016-10-03 00:52] jgravois commented on #861
thanks for reporting @JamesMilnerUK.

i'll try swapping in a manual JSONP call [here](https://github.com/Esri/esri-leaflet-vector/blob/3d592e620f0bed995c9b4c2972134ace9f7db4b2/src/Basemap.js#L44) and let you know the outcome soon.

[2016-10-03 13:00] droverflow opened #862 "Image Requests for dynamicMapLayer are not going through Proxy"
- Browser and version:
  IE11
- Version of Leaflet (1.0.1):
- Version of esri Leaflet (2.0.3):

Steps to reproduce the error:

Call a dynamicMapLayer via a proxy

Results:
Service is correctly called via proxy
Image requests do not get called via proxy

Expected Results:
Image requests should also go through proxy

Reason:
Our Arcgis server is locked down, and the only access is via the proxy, ima

[2016-10-03 17:45] jgravois commented on #861
previously all our vector basemap json denoted the location of glyphs and sprites using a relative path.

[Newspaper](https://www.arcgis.com/sharing/rest/content/items/4f4843d99c34436f82920932317893ae/resources/styles/root.json?f=json) still does this.
[code]
at some point very recently, our primary vector basemaps (Gray, Streets, etc.) started using fully qualified paths.

[Topographic](https://w

[2016-10-03 21:36] #861 closed

[2016-10-03 23:34] jgravois commented on #862
i can reproduce the error you've described.
until its fixed, try just requesting images directly (instead of fetching JSON which includes a url).

[code]

[2016-10-06 15:52] ojollivet opened #863 "How to understand the terms of use ?"
Hello,

I am new to leaflet and esri-leaflet and I am currently studying the possibility to use these two libraries in an application in a commercial context. I read the terms of use but I am not sure to fully understand them. When one wants to develop in a commercial context an application displaying a map with esri-leaflet (so with an ESRI basemap), shall I refer to [the terms of use of Esri-Lea

[2016-10-06 17:30] jgravois commented on #863
@patrickarlt's reply earlier is still 100% relevant.

for any commercial application (one that generates revenue) our terms of use require that you upgrade to a paid account. the price is still $20/month.

while you are in the development phase, you are welcome to use a free account.

[2016-10-07 15:36] dpinart opened #864 "Offline Feature Layer"
I'm planning to migrate an existing application that uses esri to esri-leaflt. The application is a phonegap that offers offline mode. I've seen I can use some leaflet plugin in order to cache tiles locally but I still need to store features in order to make the application fully functional when it goes offline

[2016-10-07 16:53] jgravois commented on #864
this isn't something we have the bandwidth to support in the foreseeable future, but you're welcome to take a stab at managing a local database and syncing locally on your own.

reference open source JSAPI implementation: https://github.com/Esri/offline-editor-js

[2016-10-07 20:27] dpinart commented on #864
offline-editor is the library that the application currently relies on for offline management. Any guide or documentation to start developing a custom FeatureLayer?

[2016-10-10 08:11] ojollivet commented on #863
Thanks for your answer.

[2016-10-10 08:11] #863 closed

[2016-10-10 15:28] andygup commented on #864
@dpinart Here are some basic considerations:

- Familiarize yourself with the esri-leaflet [FeatureLayer](https://github.com/Esri/esri-leaflet/tree/master/src/Layers/FeatureLayer) code. FeatureManager.js is where all the edit functionality lives. You'll most likely need to `extend` FeatureManager.js.
- You'll need to intercept feature ADDS, UPDATES and DELETES requests while the layer is in offlin

[2016-10-12 16:48] whyvez opened #865 "Query Task MultiPolygon support"
The current implementation of the geometry argument to the Query Task does not support the MultiPolygon GeoJSON geometry type. I have tested by simply including the type here: https://github.com/Esri/esri-leaflet/blob/master/src/Tasks/Query.js#L214 and all works great from what I can tell. Here is my change (https://github.com/tesera/esri-leaflet/commit/7dfb5d19d1da980139ffffb0a92f1bfbe57d4c3d) an

[2016-10-12 16:56] jgravois commented on #865
please do.

[2016-10-12 21:28] whyvez commented on #865
@jgravois there you go. Let me know if you see any issues with this but consequences seem pretty minor.

[2016-10-17 12:16] mepdr opened #867 "setWhere/getWhere for DynamicMapLayer"
It'd be very useful to have the setter and getter methods for the where clause, currently available in `FeatureLayer`, exposed by `DynamicMapLayer`objects. In addition they should expose the same signatures for a better and simpler manipulation of the all available layers without delving into the details if a layer is a  `FeatureLayer` or a `DynamicMapLayer` instance.

[2016-10-18 16:58] robinho81 opened #868 "Getting error when using esri-leaflet with webpack"
* Browser and version:
Chrome 51

* Version of Leaflet (`L.version`):
1.0.0

* Version of esri Leaflet (`L.esri.VERSION`):
2.0.3

Steps to reproduce the error:
1. Try to display a basemap using the ESRI Leaflet plugin:

[code]

This code seems to run, and I can actually debug through it fine.
However, the map is not loaded, and I get the following error:

I have searched through the the issues and